<template>
    <div>
        <panel title="Your Basic Information" icon="mdi-pen">
            <v-row>
                <v-col cols="12">
                    <v-text-field
                        v-model="name"
                        outlined
                        required
                        label="Name"
                        color="primary"
                    />
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <v-text-field
                        v-model="emailValue"
                        outlined
                        required
                        label="Email"
                        color="primary"
                    />
                </v-col>
            </v-row>
            <v-btn
                color="primary"
                :loading="loading"
                :disabled="loading"
                @click="updateInformation"
                block
                >Save Information</v-btn
            >
        </panel>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Panel from "../app/Panel.vue";
import { user } from "../../store/User";
import { updateUser } from "../../api/Auth";
@Component({
    components: {
        Panel
    }
})
export default class Information extends Vue {
    private name: string = "";
    private emailValue: string = "";
    private loading: boolean = false;

    mounted() {
        this.name = this.fullName;
        this.emailValue = this.email;
    }

    async updateInformation() {
        this.loading = true;
        try {
            await updateUser(this.name, this.emailValue);
            user.setUser({
                id: user.userId,
                name: this.name,
                email: this.emailValue
            });
            this.loading = false;
        } catch {
            this.loading = false;
        }
    }

    get fullName() {
        return user.name;
    }

    get email() {
        return user.email;
    }
}
</script>

<style lang="scss" scoped></style>
