<template>
    <div>
        <panel title="Change your password" icon="mdi-pen">
            <div class="content">
                <p>
                    <v-text-field
                        v-model="currentPassword"
                        class="text-field"
                        type="password"
                        outlined
                        required
                        data-cy="currentPassword"
                        label="Current Password"
                    />
                </p>
                <p>
                    <v-text-field
                        v-model="newPassword"
                        class="text-field"
                        type="password"
                        outlined
                        required
                        data-cy="newPassword"
                        label="New Password"
                    />
                </p>
                <p>
                    <v-text-field
                        v-model="confirmPassword"
                        class="text-field"
                        type="password"
                        outlined
                        required
                        data-cy="confirmPassword"
                        label="Confirm New Password"
                    />
                </p>
                <v-btn
                    color="primary"
                    :loading="loading"
                    :disabled="loading"
                    @click="updatePassword"
                    block
                    data-cy="submitPassword"
                    >Change Password</v-btn
                >
            </div>
        </panel>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Panel from "../app/Panel.vue";
import { user } from "../../store/User";
import { updateUserPassword } from "../../api/Auth";
@Component({
    components: {
        Panel
    }
})
export default class Password extends Vue {
    private currentPassword: string = "";
    private newPassword: string = "";
    private confirmPassword: string = "";
    private loading: boolean = false;
    async updatePassword() {
        this.loading = true;
        try {
            await updateUserPassword(
                this.currentPassword,
                this.newPassword,
                this.confirmPassword
            );
            this.loading = false;
        } catch {
            this.loading = false;
        }
    }
}
</script>

<style lang="scss" scoped>
.text-field {
    width: 100%;
}
</style>
