<template>
    <div>
        <v-menu
            v-model="menu"
            bottom
            right
            transition="scale-transition"
            origin="top left"
        >
            <template v-slot:activator="{ on }">
                <div v-on="on">
                    <v-avatar style="cursor:pointer;" size="36" color="primary">
                        <span
                            style="font-size: 14px !important;"
                            class="white--text headline"
                            >{{ parseName() }}</span
                        >
                    </v-avatar>
                </div>
            </template>
            <v-card width="300">
                <v-list dark>
                    <v-list-item>
                        <v-list-item-avatar>
                            <v-avatar
                                style="cursor:pointer;"
                                size="36"
                                color="primary"
                            >
                                <span
                                    style="font-size: 18px !important;"
                                    class="white--text headline"
                                    >{{ parseName() }}</span
                                >
                            </v-avatar>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>{{
                                user.name
                            }}</v-list-item-title>
                            <v-list-item-subtitle>
                                {{ user.pivot.permission }}
                            </v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-btn icon @click="menu = false">
                                <v-icon>mdi-close-circle</v-icon>
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-menu>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { IUser } from "../../store/User";

@Component
export default class MemberChip extends Vue {
    @Prop(Object) user!: IUser;
    private menu: boolean = false;

    parseName() {
        return this.user.name
            .split(" ")
            .map(s => s.charAt(0).toUpperCase())
            .join("");
    }
}
</script>

<style lang="scss" scoped></style>
