<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col cols="2">
                    <h1 class="font-bold primary--text headline-d">
                        <router-link
                            class="font-bold primary--text main-link"
                            style="font-weight:900;"
                            to="/"
                            >ALPS</router-link
                        >
                    </h1>
                </v-col>
                <v-col cols="10" align-self="center">
                    <ul class="nav-links" v-if="canDisplayInlineLinks()">
                        <li><router-link to="/">Home</router-link></li>
                        <li><router-link to="/about">About</router-link></li>
                        <li>
                            <router-link to="/learning">Learning</router-link>
                        </li>
                        <li><router-link to="/boards">Boards</router-link></li>
                        <li v-if="!loggedIn">
                            <a href="#" @click.prevent="showDialog = true"
                                >Login / Register</a
                            >
                        </li>
                        <li v-else>
                            <user-menu />
                        </li>
                    </ul>
                    <v-icon
                        class="icon-menu"
                        @click="showNavMenu = true"
                        v-else-if="!showNavMenu"
                        >menu</v-icon
                    >
                </v-col>
            </v-row>
        </v-container>
        <transition name="slide-up">
            <div
                class="nav-menu"
                v-if="showNavMenu && !canDisplayInlineLinks()"
            >
                <div class="repeatable-bg-x"></div>
                <div class="repeatable-bg-y"></div>
                <v-icon class="close-icon" @click="showNavMenu = false"
                    >close</v-icon
                >
                <ul class="nav-links-mobile">
                    <li @click="showNavMenu = false">
                        <router-link to="/">Home</router-link>
                    </li>
                    <li @click="showNavMenu = false">
                        <router-link to="/about">About</router-link>
                    </li>
                    <li @click="showNavMenu = false">
                        <router-link to="/learning">Learning</router-link>
                    </li>
                    <li @click="showNavMenu = false">
                        <router-link to="/boards">Boards</router-link>
                    </li>
                    <li @click="showNavMenu = false" v-if="!loggedIn">
                        <a href="#" @click.prevent="showDialog = true"
                            >Login / Register</a
                        >
                    </li>
                    <li v-if="loggedIn" style="border-bottom: 1px solid white;">
                        <strong>{{ name }}</strong>
                    </li>
                    <br v-if="loggedIn" />
                    <li v-if="loggedIn">
                        <router-link to="/user/settings"
                            >User Settings</router-link
                        >
                    </li>
                    <li v-if="loggedIn">
                        <a href="#" @click.prevent="signOut">Log out</a>
                    </li>
                    <li>
                        <router-link to="/terms">Terms of Service</router-link>
                    </li>
                    <li>
                        <router-link to="/privacy">Privacy Policy</router-link>
                    </li>
                    <li>
                        &copy; Copyright 2020. Ben Davies, All rights reserved.
                    </li>
                </ul>
            </div>
        </transition>
        <authentication-dialog :showDialog.sync="showDialog" />
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch } from "vue-property-decorator";
import AuthenticationDialog from "../dialogs/AuthenticationDialog.vue";
import { user } from "../../store/User";
import UserMenu from "./UserMenu.vue";
import { logout } from "../../api/Auth";
import { snackbar } from "../../store/Snackbar";

@Component({
    components: {
        AuthenticationDialog,
        UserMenu
    }
})
export default class Navigation extends Vue {
    private showDialog: boolean = false;
    private showNavMenu: boolean = false;

    @Watch("showNavMenu")
    onShowNavMenuChange() {
        this.$emit("hideContent", this.showNavMenu);
    }

    get name() {
        return user.name;
    }

    get loggedIn() {
        return user.userId !== -1;
    }

    signOut() {
        logout()
            .then(() => {
                user.setUser({
                    id: -1,
                    name: "",
                    email: ""
                });
                setTimeout(() => {
                    snackbar.showSuccessSnackbar("You have been logged out");
                    this.$router.push("/");
                }, 1);
            })
            .catch(() =>
                snackbar.showFailedSnackbar(
                    "Unable to signout right now please try again later."
                )
            );
    }

    parseName() {
        return this.name
            .split(" ")
            .map(s => s.charAt(0).toUpperCase())
            .join("");
    }

    @Watch("$vuetify.breakpoint.mdAndUp")
    onBreakPointChange() {
        if (this.showNavMenu && this.canDisplayInlineLinks()) {
            this.showNavMenu = false;
        }
    }

    canDisplayInlineLinks() {
        return this.$vuetify.breakpoint.mdAndUp;
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 36px !important;
    padding-left: 49px;
    z-index: 10;
}
.main-link {
    text-decoration: none !important;
    color: #07748c !important;
}
.nav-links {
    margin: 0;
    list-style: none;
    float: right;
    margin-right: 50px;
    z-index: 10;
    li {
        display: inline-block;
        padding-left: 20px;
    }
    z-index: 56;
}

.nav-links-mobile {
    position: absolute;
    top: 350px;
    margin: 0;
    list-style: none;
    margin-right: 50px;
    li {
        display: block;
        padding-left: 20px;
        height: 40px;
        color: #fefefe !important;
        a {
            color: #fefefe !important;
        }
    }
    z-index: 156;
}

.slide-up-enter-active {
    transition: all 0.4s ease;
}
.slide-up-leave-active {
    transition: all 0.3s ease;
}
.slide-up-enter {
    opacity: 1;
    transform: translateY(100px);
}
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(100px);
}

.icon-menu {
    float: right;
    margin-right: 50px;
    color: #000000 !important;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("/images/nav-vector.svg");
    width: 100%;
    height: 100%;
    z-index: 2;
    .repeatable-bg-x {
        position: absolute;
        top: 0px;
        left: 280px;
        background-image: url("/images/nav-reapeatable.svg");
        background-repeat: repeat-x;
        width: 100%;
        height: 100%;
        z-index: 43;
    }
    .repeatable-bg-y {
        position: absolute;
        top: 350px;
        left: 0px;
        background-image: url("/images/nav-reapeatable.svg");
        background-repeat: repeat;
        width: 100%;
        height: calc(100% - 350px);
        z-index: 42;
    }

    .close-icon {
        z-index: 45;
        float: right;
        margin-right: 20px;
        margin-top: 15px;
        cursor: pointer;
        color: #fefefe !important;
    }
}

a {
    color: black !important;
    font-weight: normal;
}

a:hover {
    color: lighten($color: #000000, $amount: 70%) !important;
}
</style>
