<template>
    <div>
        <v-card>
            <v-list>
                <v-list-item>
                    <v-list-item-avatar>
                        <slot name="icon">
                            <v-icon>{{ icon }}</v-icon>
                        </slot>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title
                            :class="{
                                headline: headlineTitle
                            }"
                            :primary-title="headlineTitle"
                            >{{ title }}</v-list-item-title
                        >
                        <v-list-item-subtitle>{{
                            subTitle
                        }}</v-list-item-subtitle>
                    </v-list-item-content>
                    <slot name="actions"></slot>
                </v-list-item>
            </v-list>
            <v-divider />
            <v-container>
                <slot></slot>
            </v-container>
        </v-card>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class Panel extends Vue {
    @Prop(String) title!: string;
    @Prop(String) subTitle!: string;
    @Prop(String) icon!: string;
    @Prop(Boolean) headlineTitle!: boolean;
}
</script>

<style lang="scss" scoped>
.headline {
    height: 35px;
    margin-top: 7px;
}
</style>
