<template>
    <div>
        <v-snackbar
            id="snackbar"
            v-model="show"
            :color="snackbarColor"
            top
            right
            :timeout="1500"
            multi-line
        >
            <span data-test="snackbar-text" data-cy="snackbar">
                {{ snackbarMessage }}
            </span>
            <!-- <v-btn
                text
                v-if="snackbarColor === 'success' && showUndo"
                @click.stop="onUndoClicked"
                >Undo</v-btn
            > -->
            <v-btn text @click="show = false">Close</v-btn>
        </v-snackbar>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import { snackbar } from "../../store/Snackbar";
import EventBus from "../../EventBus";
@Component
export default class Snackbar extends Vue {
    show: boolean = false;
    get isSnackbarVisible() {
        return snackbar.isSnackbarVisible;
    }
    get snackbarMessage() {
        return snackbar.snackbarMessage;
    }
    get snackbarColor() {
        return snackbar.snackbarColor;
    }

    get showUndo() {
        return snackbar.showUndo;
    }

    @Watch("isSnackbarVisible")
    onSnackbarVisibilityChange() {
        this.show = true;
        EventBus.$emit("snackbar-open");
    }

    @Watch("show")
    onSnackBarShowChange() {
        if (this.show === false) {
            EventBus.$emit("snackbar-close");
        }
    }

    onUndoClicked() {
        this.show = false;
        EventBus.$emit("snackbar-undo-clicked");
        EventBus.$emit("snackbar-close");
    }
}
</script>

<style lang="scss" scoped>
#snackbar {
    z-index: 100000000000000 !important;
}
</style>
