<template>
    <div>
        <v-menu
            v-model="showMenu"
            :close-on-content-click="false"
            :nudge-width="300"
            :nudge-bottom="50"
            :nudge-left="320"
            offset-x
        >
            <template v-slot:activator="{ on }">
                <v-btn
                    data-cy="userMenuIcon"
                    icon
                    v-on="on"
                    class="user-menu-icon"
                >
                    <v-avatar style="cursor:pointer;" size="46" color="primary">
                        <span
                            style="font-size: 18px !important;"
                            class="white--text headline"
                            >{{ parseName() }}</span
                        >
                    </v-avatar>
                </v-btn>
            </template>
            <div id="navigation-user-menu" data-cy="userMenu">
                <div class="menu-content">
                    <panel :title="name" subTitle="Learner">
                        <template slot="icon">
                            <v-avatar
                                style="cursor:pointer;"
                                size="46"
                                color="primary"
                            >
                                <span
                                    style="font-size: 18px !important;"
                                    class="white--text headline"
                                    >{{ parseName() }}</span
                                >
                            </v-avatar>
                        </template>
                        <template slot="actions">
                            <v-list-item-action>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                            @click="
                                                $router.push('/user/settings')
                                            "
                                            data-cy="userMenuSettings"
                                            text
                                            icon
                                            v-on="on"
                                        >
                                            <v-icon color="primary"
                                                >settings</v-icon
                                            >
                                        </v-btn>
                                    </template>
                                    <span>User Settings</span>
                                </v-tooltip>
                            </v-list-item-action>
                            <v-list-item-action>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                            data-cy="userMenuSignOut"
                                            @click="signOut"
                                            text
                                            icon
                                            v-on="on"
                                        >
                                            <v-icon color="primary"
                                                >mdi-logout</v-icon
                                            >
                                        </v-btn>
                                    </template>
                                    <span>Sign Out</span>
                                </v-tooltip>
                            </v-list-item-action>
                        </template>
                        <v-subheader
                            >Legal Stuff &nbsp;<v-icon
                                >mdi-alien</v-icon
                            ></v-subheader
                        >
                        <v-list>
                            <v-list-item
                                ><router-link to="/terms"
                                    >Terms of Service</router-link
                                ></v-list-item
                            >
                            <v-list-item
                                ><router-link to="/privacy"
                                    >Privacy Policy</router-link
                                ></v-list-item
                            >
                            <v-list-item>
                                <br />
                                <p style="width: 230px;">
                                    Copyright &copy; 2020. Ben Davies, All
                                    Rights Reserved.
                                </p>
                            </v-list-item>
                        </v-list>

                        <!-- <v-list>
                            <v-list-item>
                                <v-list-item-action>
                                    <v-switch
                                        class="dark-mode-switch"
                                        data-cy="darkModeSwitch"
                                        v-model="darkMode"
                                        @change="updateDarkMode"
                                        color="blue"
                                    ></v-switch>
                                </v-list-item-action>
                                <v-list-item-title>Dark Mode</v-list-item-title>
                            </v-list-item>
                        </v-list> -->
                    </panel>
                </div>
            </div>
        </v-menu>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { logout } from "../../api/Auth";
import { user } from "../../store/User";
import { snackbar } from "../../store/Snackbar";
import Panel from "./Panel.vue";
@Component({
    components: {
        Panel
    }
})
export default class UserMenu extends Vue {
    showMenu: boolean = false;

    get name() {
        return user.name;
    }

    parseName() {
        return this.name
            .split(" ")
            .map(s => s.charAt(0).toUpperCase())
            .join("");
    }

    signOut() {
        logout()
            .then(() => {
                user.setUser({
                    id: -1,
                    name: "",
                    email: ""
                });
                setTimeout(() => {
                    snackbar.showSuccessSnackbar("You have been logged out");
                    this.$router.push("/");
                }, 1);
            })
            .catch(err => {
                console.log(err);
                snackbar.showFailedSnackbar(
                    "Unable to signout right now please try again later."
                );
            });
    }
}
</script>

<style lang="scss" scoped></style>
