<template>
    <transition name="slide-right" mode="out-in">
        <v-app v-if="loaded" :key="loaded">
            <v-content>
                <navigation @hideContent="v => (shouldHideContent = v)" />
                <v-container v-if="!shouldHideContent">
                    <transition
                        name="slide-right"
                        mode="out-in"
                        @beforeLeave="beforeLeave"
                        @enter="enter"
                        @afterEnter="afterEnter"
                    >
                        <router-view></router-view>
                    </transition>
                </v-container>
                <snackbar />
            </v-content>
        </v-app>
        <v-app v-else>
            <v-container class="fill-height text-center" style="height: 100%">
                <v-row align="center">
                    <v-col cols="12">
                        <h1>Retrieving Data...</h1>
                        <v-progress-circular
                            :size="70"
                            :width="7"
                            color="primary"
                            indeterminate
                        ></v-progress-circular>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </transition>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Navigation from "./components/app/Navigation.vue";
import Snackbar from "./components/app/Snackbar.vue";
import { login, getUser } from "./api/Auth";
import { user } from "./store/User";
import { snackbar } from "./store/Snackbar";

@Component({
    components: {
        Navigation,
        Snackbar
    }
})
export default class App extends Vue {
    private shouldHideContent: boolean = false;
    private prevHeight: string = "0";
    private loaded: boolean = false;

    async created() {
        try {
            const userFound = await getUser();
            user.setUser(userFound);
            this.loaded = true;
            this.$nextTick(() => {
                setTimeout(() => {
                    snackbar.showSuccessSnackbar("Welcome Back, " + user.name);
                }, 750);
            });
        } catch {
            this.loaded = true;
        }
    }

    beforeLeave(e: HTMLElement) {
        this.prevHeight = "50px";
    }

    enter(e: HTMLElement) {
        const { height } = getComputedStyle(e);
        e.style.height = this.prevHeight;
        setTimeout(() => {
            e.style.height = height;
        }, 200);
    }

    afterEnter(e: HTMLElement) {
        e.style.height = "auto";
    }
}
</script>

<style lang="scss">
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}
</style>
