// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat',
sans-serif;
$font-size-root: 0.9rem;
$border-radius-root: 6px;
$btn-letter-spacing: 0;
$btn-font-weight: bold;

// Colors
$blue: #07748C;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//ALPS Variables
$box-sizing: 55px;
