// Variables
$progress-circular-underlay-stroke: #555555 !important;
@import '~vuetify/src/styles/main.sass';
@import "variables";

$primary-c: #07748C;
$stepper-elevation: 0px !important;

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}

.v-stepper {
    box-shadow: none !important;
}

.v-stepper__header {
    box-shadow: none !important;
}

.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}

.headline-dia {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}

.form-control {
    height: $box-sizing !important;
    border-color: $primary-c !important;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 20px !important;
    display: block;
    padding-left: 10px;
    width: 100%;
}

.form-control[disabled] {
    background-color: darken($color: #FFF, $amount: 5%);
}

html,
body {
    z-index: -100;
}

.diagram {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100vw;
    height: 409px;
    background-image: url("/images/homepagevec.svg");
    background-position-x: calc(-900px - 50vw);
    z-index: 1;
}

.v-content {
    z-index: 40;
}

.bg-display {
    position: absolute;
    bottom: 0;
    right: -500px;
    width: 100vw;
    height: 346px;
    background-image: url("/images/PageVector.svg");
}

.btn {
    height: $box-sizing !important;
    font-weight: bold !important;
    font-size: 18px !important;
    background-color: $primary-c;
    text-align: center;
    border-color: $primary-c !important;
    border: 2px solid;
    border-radius: 4px;
    display: block;
    width: 100%;
    color: #fefefe;
}

.btn:hover {
    border-color: darken($color: $primary-c, $amount: 5%) !important;
    background-color: darken($color: $primary-c, $amount: 5%) !important;
    outline: none;
}

.btn:active {
    border-color: darken($color: $primary-c, $amount: 5%) !important;
    background-color: darken($color: $primary-c, $amount: 5%);
    outline: none;
}

a {
    text-decoration: none !important;
}


a:hover {
    text-decoration: underline !important;
    color: darken($color: $primary-c, $amount: 5%);
}
