<template>
    <div>
        <v-dialog v-model="ownShow" width="587" max-width="587">
            <v-card class="vector">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h3
                                    class="font-bold text-center primary--text headline-d"
                                >
                                    ADD ISSUE TO SPRINT
                                </h3>
                            </v-col>
                        </v-row>
                        <p>
                            <strong>Please Note: </strong> that it is strongly
                            recommended not to edit a sprint once it has been
                            set please continue with caution as may not complete
                            the sprint in time.
                        </p>
                        <v-select
                            :items="sprints"
                            item-text="name"
                            item-value="id"
                            v-model="sprintChosen"
                            placeholder="Please choose one..."
                            label="Sprint"
                            outlined
                        ></v-select>
                        <v-btn
                            class="btn btn-block"
                            @click.stop="addIssue"
                            color="warning"
                            >ADD</v-btn
                        >
                        <br />
                        <br />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";
import { ISprint } from "../../api/Sprint";

@Component
export default class AddIssueToSprintDialog extends Vue {
    //
    @Prop(Boolean) showDialog!: boolean;
    @Prop(Array) sprints!: ISprint[];
    private ownShow: boolean = false;
    private sprintChosen: string = "";

    @Watch("showDialog")
    onShowDialogChange() {
        this.ownShow = this.showDialog;
    }

    @Watch("ownShow")
    onOwnShowChange() {
        if (!this.ownShow) {
            this.sprintChosen = "";
            this.$emit("update:showDialog", false);
        }
    }

    addIssue() {
        this.$emit(
            "add",
            this.sprints.filter(s => s.id === this.sprintChosen)[0]
        );
        this.ownShow = false;
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
