<template>
    <div>
        <v-dialog v-model="ownShow" width="587" max-width="587">
            <component
                :is="componentFromType"
                :type.sync="authType"
                :show.sync="ownShow"
            />
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";
import LoginDialog from "./LoginDialog.vue";
import RegisterDialog from "./RegisterDialog.vue";
import ResetPasswordDialog from "./ResetPasswordDialog.vue";

export enum AUTH_TYPE {
    LOGIN,
    REGISTER,
    RESET
}

@Component
export default class AuthenticationDialog extends Vue {
    //
    @Prop(Boolean) showDialog!: boolean;
    private ownShow: boolean = false;
    private authType: AUTH_TYPE = AUTH_TYPE.LOGIN;

    @Watch("showDialog")
    onShowDialogChange() {
        this.ownShow = this.showDialog;
    }

    @Watch("ownShow")
    onOwnShowChange() {
        if (!this.ownShow) {
            this.authType = AUTH_TYPE.LOGIN;
            this.$emit("update:showDialog", false);
        }
    }

    get componentFromType() {
        switch (this.authType) {
            case AUTH_TYPE.LOGIN:
                return LoginDialog;
            case AUTH_TYPE.REGISTER:
                return RegisterDialog;
            case AUTH_TYPE.RESET:
                return ResetPasswordDialog;
        }
    }
}
</script>

<style lang="scss" scoped></style>
