<template>
    <div>
        <v-dialog v-model="ownShow" width="587" max-width="587">
            <v-card class="vector">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h3
                                    class="font-bold text-center primary--text headline-d"
                                >
                                    CREATE SUB ISSUE
                                </h3>
                            </v-col>
                        </v-row>
                        <v-text-field
                            type="text"
                            label="Issue ID"
                            placeholder="Auto Generated ID..."
                            disabled
                            outlined
                            color="primary"
                            :value="getId()"
                        />
                        <v-text-field
                            type="text"
                            name="name"
                            v-model="name"
                            id="name"
                            label="Issue Name"
                            outlined
                            color="primary"
                        />
                        <v-select
                            :items="items"
                            v-model="type"
                            placeholder="Please choose one..."
                            label="Issue Type"
                            outlined
                        ></v-select>
                        <v-textarea
                            type="text"
                            name="description"
                            v-model="description"
                            id="description"
                            label="Issue Description"
                            outlined
                            color="primary"
                        />
                        <v-btn
                            class="btn btn-block btn-primary"
                            @click.stop="createSubIssue"
                            color="primary"
                            >CREATE</v-btn
                        >
                        <br />
                        <br />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";
import { IIssue } from "../../api/Issue";

@Component
export default class CreateSubIssueDialog extends Vue {
    //
    @Prop(Boolean) showDialog!: boolean;
    @Prop(Number) insertId!: number;
    @Prop(String) parentIssueId!: string;

    private ownShow: boolean = false;
    private name: string = "";
    private type: string = "";
    private description: string = "";
    private items: string[] = ["task", "bugfix"];

    @Watch("showDialog")
    onShowDialogChange() {
        this.ownShow = this.showDialog;
    }

    @Watch("ownShow")
    onOwnShowChange() {
        if (!this.ownShow) {
            this.name = "";
            this.type = "";
            this.description = "";
            this.$emit("update:showDialog", false);
        }
    }

    getId() {
        return this.parentIssueId + "@" + this.insertId;
    }

    createSubIssue() {
        this.$emit("submit", {
            id: this.getId(),
            name: this.name,
            type: this.type,
            description: this.description,
            progress: "ToDo",
            children: [],
            links: []
        } as IIssue);
        this.ownShow = false;
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
