<template>
    <div>
        <v-dialog v-model="ownShow" width="587" max-width="587">
            <v-card class="vector">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h3
                                    class="font-bold text-center primary--text headline-d"
                                >
                                    CREATE NEW BOARD
                                </h3>
                            </v-col>
                        </v-row>
                        <v-text-field
                            type="text"
                            label="Board ID"
                            placeholder="Auto Generated ID..."
                            disabled
                            outlined
                            color="primary"
                            :value="getId()"
                        />
                        <v-text-field
                            type="text"
                            name="name"
                            v-model="name"
                            id="name"
                            label="Board Name"
                            outlined
                            color="primary"
                        />
                        <v-select
                            :items="items"
                            v-model="type"
                            placeholder="Please choose one..."
                            label="Board Type"
                            outlined
                        ></v-select>
                        <v-btn
                            class="btn btn-block btn-primary"
                            @click.stop="createBoard"
                            color="primary"
                            >CREATE</v-btn
                        >
                        <br />
                        <br />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";
import LoginDialog from "./LoginDialog.vue";
import RegisterDialog from "./RegisterDialog.vue";
import ResetPasswordDialog from "./ResetPasswordDialog.vue";

export enum AUTH_TYPE {
    LOGIN,
    REGISTER,
    RESET
}

@Component
export default class CreateNewBoardDialog extends Vue {
    //
    @Prop(Boolean) showDialog!: boolean;
    private ownShow: boolean = false;
    private name: string = "";
    private type: string = "";
    private items: string[] = ["scrum"];

    @Watch("showDialog")
    onShowDialogChange() {
        this.ownShow = this.showDialog;
    }

    @Watch("ownShow")
    onOwnShowChange() {
        if (!this.ownShow) {
            this.name = "";
            this.type = "";
            this.$emit("update:showDialog", false);
        }
    }

    getId() {
        return this.name
            .split(" ")
            .map(s => s.charAt(0).toUpperCase())
            .join("");
    }

    createBoard() {
        this.$emit("submit", {
            id: this.getId(),
            name: this.name,
            type: this.type,
            openIssues: 0,
            sprints: [],
            issues: []
        });
        this.ownShow = false;
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
