<template>
    <div>
        <v-dialog v-model="ownShow" width="587" max-width="587">
            <v-card class="vector">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h3
                                    class="font-bold text-center primary--text headline-d"
                                >
                                    LINK AN ISSUE
                                </h3>
                            </v-col>
                        </v-row>
                        <v-select
                            :items="issues"
                            item-text="name"
                            item-value="id"
                            v-model="issueId"
                            placeholder="Please choose one..."
                            label="Issue To Link"
                            outlined
                        ></v-select>
                        <v-select
                            :items="items"
                            v-model="type"
                            item-text="name"
                            item-value="id"
                            placeholder="Please choose one..."
                            label="Issue Link Type"
                            outlined
                        ></v-select>
                        <v-btn
                            class="btn btn-block btn-primary"
                            @click.stop="link"
                            color="primary"
                            >LINK</v-btn
                        >
                        <br />
                        <br />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";
import { IIssue, IIssueLink } from "../../api/Issue";

@Component
export default class LinkIssueDialog extends Vue {
    //
    @Prop(Boolean) showDialog!: boolean;
    @Prop(Array) issues!: IIssue[];

    private ownShow: boolean = false;
    private items: any[] = [
        { id: "blocks", name: "Is Blocking Me" },
        { id: "blocking", name: "I am blocking" }
    ];

    private type: string = "";
    private issueId: string = "";

    @Watch("showDialog")
    onShowDialogChange() {
        this.ownShow = this.showDialog;
    }

    @Watch("ownShow")
    onOwnShowChange() {
        if (!this.ownShow) {
            this.$emit("update:showDialog", false);
        }
    }

    link() {
        this.$emit("submit", {
            type: this.type,
            issueId: this.issueId
        } as IIssueLink);
        this.ownShow = false;
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
