<template>
    <div>
        <v-card class="vector">
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <h3
                                class="font-bold text-center primary--text headline-d"
                            >
                                LOGIN
                            </h3>
                        </v-col>
                    </v-row>
                    <p
                        class="text-center error--text"
                        v-if="error.length > 0 && error !== ''"
                    >
                        {{ error }}
                    </p>
                    <input
                        type="text"
                        name="email"
                        v-model="email"
                        id="email"
                        placeholder="Email..."
                        class="form-control"
                    />
                    <input
                        type="password"
                        name="password"
                        v-model="password"
                        id="password"
                        placeholder="Password..."
                        class="form-control"
                    />
                    <v-btn
                        class="btn btn-block btn-primary"
                        @click.stop="loginUser"
                        color="primary"
                        >LOGIN</v-btn
                    >
                    <a
                        @click.prevent="showForgotPassword"
                        href="#"
                        class="forgot-password-link"
                        >Forgot Password?</a
                    >
                    <p class="register-link">
                        New Here?
                        <a href="#" @click.prevent="showRegister">Register</a>
                    </p>
                </v-container>
            </v-card-text>
        </v-card>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { AUTH_TYPE } from "./AuthenticationDialog.vue";
import { login } from "../../api/Auth";
import { user } from "../../store/User";

@Component
export default class LoginDialog extends Vue {
    @Prop(Number) type!: AUTH_TYPE;
    @Prop(Boolean) show!: boolean;

    private email: string = "";
    private password: string = "";
    private error: string = "";

    async loginUser() {
        try {
            const userReturned = (await login(this.email, this.password))
                .success.item.user;

            user.setUser(userReturned);
            this.error = "";
            this.email = "";
            this.password = "";
            this.$emit("update:show", false);
        } catch (err) {
            this.error = "Invalid Credentials. Please try again.";
        }
    }

    showForgotPassword() {
        this.$emit("update:type", AUTH_TYPE.RESET);
    }

    showRegister() {
        this.$emit("update:type", AUTH_TYPE.REGISTER);
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.forgot-password-link {
    padding-top: 25px;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: normal;
}
.register-link {
    padding-top: 20px;
    text-align: center;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
