<template>
    <div>
        <v-dialog v-model="ownShow" width="587" max-width="587">
            <v-card class="vector">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h3
                                    class="font-bold text-center primary--text headline-d"
                                >
                                    PLAN A SPRINT
                                </h3>
                            </v-col>
                        </v-row>
                        <v-text-field
                            type="text"
                            label="Sprint ID"
                            placeholder="Auto Generated ID..."
                            disabled
                            outlined
                            color="primary"
                            :value="getId()"
                        />
                        <v-text-field
                            type="text"
                            name="name"
                            v-model="name"
                            id="name"
                            label="Sprint Name"
                            outlined
                            color="primary"
                        />
                        <v-menu
                            v-model="startDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="computedStartDateFormatted"
                                    label="Sprint Start Date"
                                    outlined
                                    color="primary"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                v-model="startDate"
                                no-title
                                @input="startDateMenu = false"
                                :allowed-dates="allowedDates"
                            ></v-date-picker>
                        </v-menu>
                        <v-select
                            :items="items"
                            v-model="durationType"
                            placeholder="Please choose one..."
                            label="Sprint Duration"
                            outlined
                        ></v-select>
                        <v-text-field
                            type="text"
                            name="name"
                            v-if="durationType !== 'Custom'"
                            disabled
                            readonly
                            v-model="computedEndDateFormatted"
                            id="name"
                            label="Sprint End Date"
                            outlined
                            color="primary"
                        />
                        <v-menu
                            v-model="endDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            v-else
                            max-width="290px"
                            min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                    v-model="computedEndDateFormatted"
                                    label="Sprint End Date"
                                    outlined
                                    color="primary"
                                    readonly
                                    v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                v-model="endDate"
                                no-title
                                @input="endDateMenu = false"
                                :allowed-dates="allowedDatesEndDate"
                            ></v-date-picker>
                        </v-menu>
                        <v-select
                            :items="backlogIssues"
                            v-model="selectedIssues"
                            placeholder="Please choose the issues you require..."
                            label="Issues To Include"
                            outlined
                            chips
                            multiple
                            return-object
                            item-text="name"
                            item-value="id"
                        >
                            <template v-slot:prepend-item>
                                <v-list-item ripple @click="toggle">
                                    <v-list-item-action>
                                        <v-icon
                                            :color="
                                                selectedIssues.length > 0
                                                    ? 'primary darken-4'
                                                    : ''
                                            "
                                            >{{ icon }}</v-icon
                                        >
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title
                                            >Select All</v-list-item-title
                                        >
                                    </v-list-item-content>
                                </v-list-item>
                                <v-divider class="mt-2"></v-divider>
                            </template>
                        </v-select>
                        <v-btn
                            class="btn btn-block btn-primary"
                            @click.stop="createIssue"
                            color="primary"
                            >CREATE</v-btn
                        >
                        <br />
                        <br />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";
import { IIssue } from "../../api/Issue";
import { ISprint } from "../../api/Sprint";

@Component
export default class PlanSprintDialog extends Vue {
    //
    @Prop(Boolean) showDialog!: boolean;
    @Prop(String) boardId!: string;
    @Prop(Number) insertId!: number;
    @Prop({ type: Array, default: [] }) backlogIssues!: IIssue[];
    @Prop({ type: String, default: new Date().toISOString() })
    lastSprintEndDate!: string;

    private ownShow: boolean = false;
    private name: string = "";
    private selectedIssues: IIssue[] = [];
    private description: string = "";
    private startDateMenu: boolean = false;
    private endDateMenu: boolean = false;
    private startDate: string = new Date().toISOString().substr(0, 10);
    private endDate: string = "";
    private startDateFormatted: string = this.formatDate(
        this.startDate
    ) as string;
    private endDateFormatted: string = "";
    private items: string[] = ["2 Weeks", "4 Weeks", "Custom"];
    private durationType: string = "";

    get icon() {
        if (this.selectedIssues.length === this.backlogIssues.length) {
            return "mdi-close-box";
        } else if (
            this.selectedIssues.length > 0 &&
            !(this.selectedIssues.length === this.backlogIssues.length)
        ) {
            return "mdi-minus-box";
        }
        return "mdi-checkbox-blank-outline";
    }

    allowedDates(date: string) {
        return (
            new Date(date) >= new Date(this.lastSprintEndDate) ||
            this.isSprintEndDate(new Date(date))
        );
    }

    allowedDatesEndDate(date: string) {
        return new Date(date) > new Date(this.startDate);
    }

    isSprintEndDate(date: Date) {
        const endDate = new Date(this.lastSprintEndDate);
        return (
            date.getDate() == endDate.getDate() &&
            date.getMonth() == endDate.getMonth() &&
            date.getFullYear() == endDate.getFullYear()
        );
    }

    toggle() {
        this.$nextTick(() => {
            if (this.selectedIssues.length === this.backlogIssues.length) {
                this.selectedIssues = [];
            } else {
                this.selectedIssues = this.backlogIssues.slice();
            }
        });
    }

    get computedStartDateFormatted() {
        return this.formatDate(this.startDate);
    }

    get computedEndDateFormatted() {
        return this.formatDate(this.endDate);
    }

    formatDate(date: string) {
        if (!date) return null;

        const [year, month, day] = date.split("-");
        return `${day}/${month}/${year}`;
    }

    @Watch("durationType")
    onDurationTypeChange() {
        if (this.durationType === "2 Weeks") {
            const getStartDate = new Date(this.startDate);
            getStartDate.setDate(getStartDate.getDate() + 14);
            this.endDate = getStartDate.toISOString().substr(0, 10);
        } else if (this.durationType === "4 Weeks") {
            const getStartDate = new Date(this.startDate);
            getStartDate.setDate(getStartDate.getDate() + 28);
            this.endDate = getStartDate.toISOString().substr(0, 10);
        } else {
            const getStartDate = new Date(this.startDate);
            getStartDate.setDate(getStartDate.getDate() + 1);
            this.endDate = getStartDate.toISOString().substr(0, 10);
            this.endDateFormatted = this.formatDate(this.endDate) as string;
        }
    }

    @Watch("startDate")
    onStartDateChange() {
        this.startDateFormatted = this.formatDate(this.startDate) as string;
    }

    @Watch("endDate")
    onEndDateChange() {
        this.endDateFormatted = this.formatDate(this.endDate) as string;
    }

    @Watch("showDialog")
    onShowDialogChange() {
        this.ownShow = this.showDialog;
    }

    @Watch("ownShow")
    onOwnShowChange() {
        if (!this.ownShow) {
            this.name = "";
            this.selectedIssues = [];
            this.startDate = this.lastSprintEndDate;
            this.startDateFormatted = this.formatDate(this.startDate) as string;
            this.durationType = "";
            this.endDate = "";
            this.endDateFormatted = "";
            this.$emit("update:showDialog", false);
        }
    }

    getId() {
        return this.boardId + "--Spr-" + this.insertId;
    }

    createIssue() {
        this.$emit("submit", {
            id: this.getId(),
            name: this.name,
            issues: this.selectedIssues,
            startDate: this.startDateFormatted,
            endDate: this.endDateFormatted
        } as ISprint);
        this.ownShow = false;
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
