<template>
    <div>
        <v-card class="vector">
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <h3
                                class="font-bold text-center primary--text headline-d"
                            >
                                REGISTER
                            </h3>
                        </v-col>
                    </v-row>
                    <p
                        class="text-center error--text"
                        v-if="error.length > 0 && error !== ''"
                    >
                        {{ error }}
                    </p>
                    <input
                        type="text"
                        name="name"
                        id="username"
                        v-model="name"
                        placeholder="Name..."
                        class="form-control"
                    />
                    <input
                        type="text"
                        name="email"
                        id="email"
                        v-model="email"
                        placeholder="Email..."
                        class="form-control"
                    />
                    <input
                        type="password"
                        name="password"
                        id="password"
                        v-model="password"
                        placeholder="Password..."
                        class="form-control"
                    />
                    <v-btn
                        class="btn btn-block btn-primary"
                        @click.stop="registerUser"
                        color="primary"
                        >REGISTER</v-btn
                    >
                    <p class="login-link">
                        Already With Us?
                        <a href="#" @click.prevent="showLogin">Login</a>
                    </p>
                    <p class="login-link" style="font-size: 12px;">
                        By registering you automatically agree to the
                        <a href="#" @click.prevent="pushRoute('/terms')"
                            >Terms of Service</a
                        >
                        and
                        <a href="#" @click.prevent="pushRoute('/privacy')"
                            >Privacy Policy</a
                        >
                    </p>
                </v-container>
            </v-card-text>
        </v-card>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { AUTH_TYPE } from "./AuthenticationDialog.vue";
import { register } from "../../api/Auth";

@Component
export default class RegisterDialog extends Vue {
    @Prop(Number) type!: AUTH_TYPE;
    @Prop(Boolean) show!: boolean;

    private name: string = "";
    private email: string = "";
    private password: string = "";
    private error: string = "";

    registerUser() {
        register(this.name, this.email, this.password)
            .then(c => {
                this.$emit("update:type", AUTH_TYPE.LOGIN);
            })
            .catch(err => {
                this.error =
                    "Unable to register you at this time please try again later";
            });
    }

    pushRoute(path: string) {
        this.$emit("update:show", false);
        this.$router.push(path);
    }

    showLogin() {
        this.$emit("update:type", AUTH_TYPE.LOGIN);
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.login-link {
    padding-top: 20px;
    text-align: center;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
