<template>
    <div>
        <v-dialog v-model="ownShow" width="587" max-width="587">
            <v-card class="vector">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h3
                                    class="font-bold text-center primary--text headline-d"
                                >
                                    REMOVE ISSUE FROM SPRINT
                                </h3>
                            </v-col>
                        </v-row>
                        <p>
                            Are you sure, you would like to remove this issue?
                        </p>
                        <p>If you do please click the remove button below</p>
                        <p>If you don't please click off this dialog</p>
                        <v-btn
                            class="btn btn-block"
                            @click.stop="removeIssue"
                            color="warning"
                            >REMOVE</v-btn
                        >
                        <br />
                        <br />
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";

@Component
export default class RemoveIssueFromSprintDialog extends Vue {
    //
    @Prop(Boolean) showDialog!: boolean;
    private ownShow: boolean = false;

    @Watch("showDialog")
    onShowDialogChange() {
        this.ownShow = this.showDialog;
    }

    @Watch("ownShow")
    onOwnShowChange() {
        if (!this.ownShow) {
            this.$emit("update:showDialog", false);
        }
    }

    removeIssue() {
        this.$emit("remove");
        this.ownShow = false;
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
