<template>
    <div>
        <v-card class="vector">
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col>
                            <h3
                                class="font-bold text-center primary--text headline-d"
                            >
                                RESET PASSWORD
                            </h3>
                        </v-col>
                    </v-row>

                    <input
                        type="text"
                        name="email"
                        id="email"
                        placeholder="Email..."
                        class="form-control"
                    />
                    <v-btn
                        class="btn btn-block btn-primary"
                        color="primary"
                        @click.stop="resetUser"
                        >RESET PASSWORD</v-btn
                    >
                    <p class="register-link">
                        Know it already?
                        <a href="#" @click.prevent="showLogin">Login</a>
                    </p>
                </v-container>
            </v-card-text>
        </v-card>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { AUTH_TYPE } from "./AuthenticationDialog.vue";

@Component
export default class ResetPasswordDialog extends Vue {
    @Prop(Number) type!: AUTH_TYPE;
    @Prop(Boolean) show!: boolean;

    resetUser() {
        this.$emit("update:show", false);
    }

    showLogin() {
        this.$emit("update:type", AUTH_TYPE.LOGIN);
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 900;
    font-size: 24px !important;
    padding-bottom: 40px;
    padding-top: 15px;
}
.forgot-password-link {
    padding-top: 25px;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: normal;
}
.register-link {
    padding-top: 20px;
    text-align: center;
}
.vector {
    background-image: url("/images/dialog-vector.svg");
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: 50%;
}
</style>
