<template>
    <div>
        <v-container>
            <v-row justify="center">
                <v-col md="12" xl="7">
                    <transition name="slide-right" mode="out-in">
                        <div
                            :key="question.id"
                            class="question"
                            v-if="!showFinished"
                        >
                            <h1 class="primary--text headline-d">
                                Q{{ question.id }}. {{ question.title }}
                            </h1>
                            <v-divider />
                            <br />
                            <br />
                            <v-row>
                                <v-col
                                    v-for="(ans, ix) in question.answers"
                                    :key="'Ans-' + ix"
                                    md="6"
                                    sm="12"
                                    cols="12"
                                >
                                    <v-btn
                                        style="height: 100px; width: 100% !important;"
                                        :outlined="
                                            lightUpIndexSuccess !== ix &&
                                                lightUpIndexError !== ix
                                        "
                                        :color="
                                            lightUpIndexSuccess === ix
                                                ? 'success'
                                                : lightUpIndexError === ix
                                                ? 'error'
                                                : 'primary'
                                        "
                                        @click.stop="
                                            disableButtons === false
                                                ? checkIfCorrect(ix)
                                                : undefined
                                        "
                                        block
                                        >{{ ans.name }}</v-btn
                                    >
                                </v-col>
                            </v-row>
                        </div>
                        <div v-else>
                            <v-row justify="center">
                                <h1 class="primary--text headline-d">
                                    Quiz Finished
                                </h1>
                            </v-row>
                            <v-divider />
                            <br />
                            <br />
                            <p class="text-center">
                                Press 'Finish' to view your results.
                            </p>
                        </div>
                    </transition>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Question } from "../../api/Lesson";

@Component
export default class Quiz extends Vue {
    @Prop(Array) questions!: Question[];
    private lightUpIndexSuccess: number = -1;
    private lightUpIndexError: number = -1;
    private disableButtons: boolean = false;
    private questionNumber: number = 0;
    private answers: boolean[] = [];
    private showFinished: boolean = false;
    get question() {
        return this.questions[this.questionNumber];
    }

    checkIfCorrect(index: number) {
        this.disableButtons = true;
        if (this.question.answers[index].correct_answer) {
            this.lightUpIndexSuccess = index;
            this.answers.push(true);
        } else {
            this.lightUpIndexError = index;
            this.answers.push(false);
        }

        setTimeout(() => {
            this.nextQuestion();
        }, 250);
    }

    nextQuestion() {
        if (this.questions[this.questionNumber + 1]) {
            this.disableButtons = false;
            this.lightUpIndexError = -1;
            this.lightUpIndexSuccess = -1;
            this.questionNumber++;
        } else {
            this.$emit("finished", this.answers);
            this.showFinished = true;
        }
    }
}
</script>

<style lang="scss" scoped>
.question {
    width: 100%;
}
</style>
