<template>
    <div>
        <p v-html="renderText"></p>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import marked from "marked";
@Component
export default class Theory extends Vue {
    @Prop(String) theoryText!: string;

    get renderText() {
        return marked(this.theoryText.replace(/^\s+/gm, "\n"), {
            sanitize: true,
            gfm: true
        });
    }
}
</script>

<style lang="scss" scoped></style>
