<template>
    <div>
        <h1 class="primary--text">About Us</h1>
        <v-divider />
        <br />
        <p>
            Welcome to ALPS, your number one source for all things Agile. We're
            dedicated to giving you the very best of Learning Agile, with a
            focus on Making Learning Easy, Making it easier for students to get
            involved, Give you an opportunity to demo a agile and scrum board.
            Founded in 2020 by Ben Davies, ALPS has come a long way from its
            beginnings in Keele. When Ben first started out, his passion for
            Agile and Scrum ad this drove them to make a dissertation project so
            that ALPS can offer you a better way to learn Agile and scrum. We
            now serve customers all over the world, and are thrilled that we're
            able to turn our passion into a website. I hope you enjoy my
            products as much as I enjoy offering them to you. If you have any
            questions or comments, please don't hesitate to contact me.<br /><br />
            Sincerely,<br /><br />
            <strong>Ben Davies</strong> <br />
            <br />
            &copy; Copyright 2020. Ben Davies; All Rights Reserved.
        </p>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class About extends Vue {}
</script>

<style lang="scss" scoped></style>
