<template>
    <div :key="issue.id">
        <v-container>
            <v-row justify="center">
                <v-col cols="12" md="10">
                    <v-row>
                        <v-col cols="12" md="10">
                            <h2 class="primary--text">
                                <v-icon color="primary">
                                    {{
                                        issue.type === "task"
                                            ? "mdi-pencil-ruler"
                                            : "mdi-bug"
                                    }} </v-icon
                                >&nbsp;{{ $route.params.isId }} -
                                {{ issue.name }}
                            </h2>
                        </v-col>
                        <v-col cols="12" md="2">
                            <v-row>
                                <v-col cols="12">
                                    <v-btn
                                        outlined
                                        @click="showDeleteDialog = true"
                                        color="error"
                                        block
                                        >Delete Issue</v-btn
                                    >
                                </v-col>
                            </v-row>

                            <v-row v-if="issue.sprint">
                                <v-col cols="12">
                                    <v-btn
                                        outlined
                                        color="error"
                                        @click="
                                            showRemoveIssueFromSprintDialog = true
                                        "
                                        block
                                        >Remove from Sprint</v-btn
                                    >
                                </v-col>
                            </v-row>

                            <v-row v-else-if="board.sprints.length > 0">
                                <v-col cols="12">
                                    <v-btn
                                        outlined
                                        color="warning"
                                        @click="
                                            showAddIssueToSprintDialog = true
                                        "
                                        block
                                        >Add To Sprint</v-btn
                                    >
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="12">
                                    <v-select
                                        outlined
                                        label="Progress"
                                        color="primary"
                                        @change="updateProgress"
                                        :items="['ToDo', 'In Progress', 'Done']"
                                        :value="issue.progress"
                                    ></v-select>
                                    <v-select
                                        outlined
                                        label="Assigned To"
                                        color="primary"
                                        v-model="assignedUser"
                                        @change="updateAssignee"
                                        :items="board.users"
                                        item-text="name"
                                        item-value="id"
                                        return-object
                                    ></v-select>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-textarea
                                :value="issue.description"
                                outlined
                                color="primary"
                                label="Description"
                                @input="onDescriptionChange"
                                >{{ issue.description }}</v-textarea
                            >
                        </v-col>
                    </v-row>
                    <v-row v-if="!this.$route.params.isId.includes('@')">
                        <v-col>
                            <h3 class="primary--text">
                                Sub-issues
                                <v-icon
                                    color="primary"
                                    @click="showCreateSubIssueDialog = true"
                                    style="cursor:pointer;"
                                    >mdi-plus-circle</v-icon
                                >
                            </h3>
                            <v-row
                                justify="center"
                                v-if="issue.children.length === 0"
                            >
                                <v-col cols="2"
                                    ><p class="text-center">
                                        You have no sub-issues
                                    </p>
                                    <v-btn
                                        block
                                        @click="showCreateSubIssueDialog = true"
                                        color="secondary"
                                        >CREATE ONE</v-btn
                                    ></v-col
                                >
                            </v-row>
                            <v-row v-else>
                                <v-col
                                    cols="12"
                                    v-for="(item, ix) in issue.children"
                                    :key="'Children-' + ix"
                                >
                                    <v-card
                                        outlined
                                        style="cursor: pointer"
                                        v-ripple="{
                                            center: true,
                                            class: `primary--text`
                                        }"
                                        @click="
                                            $router.push(
                                                '/board/' +
                                                    board.id +
                                                    '/issue/' +
                                                    item.id
                                            )
                                        "
                                    >
                                        <v-container fluid>
                                            <v-row>
                                                <v-col cols="10">
                                                    <p
                                                        class="primary--text"
                                                        style="padding-top: 11px !important;"
                                                    >
                                                        <strong>
                                                            {{ item.name }}
                                                        </strong>
                                                    </p>
                                                </v-col>
                                                <v-col cols="12" md="2">
                                                    <v-avatar
                                                        size="65"
                                                        color="primary"
                                                        ><span
                                                            class="white--text"
                                                            >{{ item.id }}</span
                                                        ></v-avatar
                                                    >
                                                </v-col>
                                            </v-row>
                                            <v-row justify="center">
                                                <v-col cols="12">
                                                    <span class="text-center">
                                                        {{ item.description }}
                                                    </span>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <h3 class="primary--text">
                                Linked Issues
                                <v-icon
                                    @click="showLinkIssueDialog = true"
                                    color="primary"
                                    style="cursor:pointer;"
                                    >mdi-plus-circle</v-icon
                                >
                            </h3>
                            <v-row
                                v-if="issue.links.length === 0"
                                justify="center"
                            >
                                <v-col cols="2"
                                    ><p class="text-center">
                                        You have no linked issues
                                    </p>
                                    <v-btn
                                        @click="showLinkIssueDialog = true"
                                        block
                                        color="secondary"
                                        >Link an Issue</v-btn
                                    ></v-col
                                >
                            </v-row>
                            <v-row v-else>
                                <v-col
                                    cols="12"
                                    v-for="(item, ix) in issue.links"
                                    :key="'Link-' + ix"
                                >
                                    <v-card
                                        outlined
                                        style="cursor: pointer"
                                        v-ripple="{
                                            center: true,
                                            class: `primary--text`
                                        }"
                                        @click="
                                            $router.push(
                                                '/board/' +
                                                    board.id +
                                                    '/issue/' +
                                                    item.issueId
                                            )
                                        "
                                    >
                                        <v-container fluid>
                                            <v-row>
                                                <v-col cols="10">
                                                    <p
                                                        class="primary--text"
                                                        style="padding-top: 11px !important;"
                                                    >
                                                        <strong>
                                                            {{
                                                                getIssueById(
                                                                    item.issueId
                                                                ).name
                                                            }}
                                                        </strong>
                                                    </p>
                                                </v-col>
                                                <v-col cols="2">
                                                    <v-avatar
                                                        size="65"
                                                        color="primary"
                                                        ><span
                                                            class="white--text"
                                                            >{{
                                                                getIssueById(
                                                                    item.issueId
                                                                ).id
                                                            }}</span
                                                        ></v-avatar
                                                    >
                                                </v-col>
                                            </v-row>
                                            <v-row justify="center">
                                                <v-col cols="12">
                                                    <span class="text-center">
                                                        {{
                                                            getIssueById(
                                                                item.issueId
                                                            ).description
                                                        }}
                                                    </span>
                                                    <br />
                                                    <span class="text-center">
                                                        <strong
                                                            >It is
                                                            {{
                                                                item.type ===
                                                                "blocks"
                                                                    ? "blocking me"
                                                                    : "being blocked by me"
                                                            }}</strong
                                                        >
                                                    </span>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
        <delete-issue-dialog
            :showDialog.sync="showDeleteDialog"
            @delete="deleteTheIssue"
        />
        <remove-issue-from-sprint-dialog
            :showDialog.sync="showRemoveIssueFromSprintDialog"
            @remove="removeFromTheSprint"
        />
        <add-issue-to-sprint-dialog
            :showDialog.sync="showAddIssueToSprintDialog"
            @add="addToASprint"
            :sprints="board.sprints"
        />
        <create-sub-issue-dialog
            :showDialog.sync="showCreateSubIssueDialog"
            :parentIssueId="issue.id"
            :insertId="issue.children.length + 1"
            @submit="newSubIssue"
        />
        <link-issue-dialog
            :showDialog.sync="showLinkIssueDialog"
            :issues="
                board.issues.filter(
                    i =>
                        i.id !== issue.id &&
                        !i.links.find(l => l.issueId === issue.id)
                )
            "
            @submit="linkIssue"
        />
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import DeleteIssueDialog from "../components/dialogs/DeleteIssueDialog.vue";
import RemoveIssueFromSprintDialog from "../components/dialogs/RemoveIssueFromSprintDialog.vue";
import AddIssueToSprintDialog from "../components/dialogs/AddIssueToSprintDialog.vue";
import CreateSubIssueDialog from "../components/dialogs/CreateSubIssueDialog.vue";
import LinkIssueDialog from "../components/dialogs/LinkIssueDialog.vue";
import { IBoard } from "../api/Board";
import {
    IIssue,
    IIssueLink,
    removeFromSprint,
    addToSprint,
    createIssueLink,
    deleteIssue,
    updateIssue,
    createSubIssue
} from "../api/Issue";
import { ISprint } from "../api/Sprint";

@Component({
    components: {
        DeleteIssueDialog,
        RemoveIssueFromSprintDialog,
        AddIssueToSprintDialog,
        CreateSubIssueDialog,
        LinkIssueDialog
    }
})
export default class BoardIssue extends Vue {
    @Prop(Object) board!: IBoard;
    private showDeleteDialog: boolean = false;
    private showRemoveIssueFromSprintDialog: boolean = false;
    private showAddIssueToSprintDialog: boolean = false;
    private showCreateSubIssueDialog: boolean = false;
    private showLinkIssueDialog: boolean = false;
    private assignId: number | undefined = undefined;
    private assignedUser: any = null;

    mounted() {
        const issue = this.getIssueById(this.$route.params.isId);
        if (issue.assignedToId) {
            this.assignedUser = this.board.users.filter(
                (u: any) => u.pivot.id === issue.assignedToId
            )[0];
        }
    }

    @Watch("board")
    onBoardChange() {
        const issue = this.getIssueById(this.$route.params.isId);
        if (issue.assignedToId) {
            this.assignedUser = this.board.users.filter(
                (u: any) => u.pivot.id === issue.assignedToId
            )[0];
        }
    }

    get issue(): IIssue {
        if (this.$route.params.isId.includes("@")) {
            return this.board.issues
                .filter(
                    (i: IIssue) =>
                        i.id === this.$route.params.isId.split("@")[0]
                )[0]
                .children.filter(
                    (i: IIssue) => i.id === this.$route.params.isId
                )[0];
        }

        return this.board.issues.filter(
            (i: IIssue) => i.id === this.$route.params.isId
        )[0];
    }

    removeFromTheSprint() {
        const sprint: ISprint = this.issue.sprint as ISprint;

        sprint.issues = sprint.issues.filter(i => i.id !== this.issue.id);
        this.issue.sprint = undefined;
        removeFromSprint(this.issue.id);
        this.$forceUpdate();
    }

    getIssueById(id: string) {
        console.log(id);
        if (id.includes("@")) {
            return this.board.issues
                .filter((i: IIssue) => i.id === id.split("@")[0])[0]
                .children.filter((i: IIssue) => i.id === id)[0];
        }

        return this.board.issues.filter((i: IIssue) => i.id === id)[0];
    }

    addToASprint(sprint: ISprint) {
        sprint.issues.push(this.issue);
        this.issue.sprint = sprint;
        addToSprint(this.issue.id, sprint.id);
        this.$forceUpdate();
    }

    linkIssue(link: IIssueLink) {
        this.issue.links.push(link);
        let issue: IIssue;
        if (link.issueId.includes("@")) {
            issue = this.board.issues
                .filter((i: IIssue) => i.id === link.issueId.split("@")[0])[0]
                .children.filter((i: IIssue) => i.id === link.issueId)[0];
        } else {
            issue = this.board.issues.filter(
                (i: IIssue) => i.id === link.issueId
            )[0];
        }

        if (issue) {
            issue.links.push({
                type: link.type === "blocks" ? "blocking" : "blocks",
                issueId: this.issue.id
            });
        }

        createIssueLink(this.issue.id, link);
        this.$forceUpdate();
    }

    newSubIssue(issue: IIssue) {
        this.issue.children.push(issue);
        createSubIssue(this.issue.id, issue);
        this.$forceUpdate();
    }

    onDescriptionChange(val: string) {
        this.issue.description = val;
        this.updateTheIssue();
    }

    updateProgress(val: "ToDo" | "In Progress" | "Done") {
        this.issue.progress = val;
        this.updateTheIssue();
    }

    updateAssignee(val: any) {
        if (val !== null && val.id !== -1 && val.name !== "") {
            this.issue.assignedToId = val.id;
            this.assignId = val.id;
            this.updateTheIssue();
        }
    }

    updateTheIssue() {
        updateIssue(this.issue.id, { ...this.issue, assignId: this.assignId });
    }

    deleteTheIssue() {
        deleteIssue(this.issue.id);
        this.board.issues.forEach(i => {
            i.links = i.links.filter(i1 => i1.issueId !== this.issue.id);
        });
        this.board.issues = this.board.issues.filter(
            i => i.id !== this.issue.id
        );
        this.$router.push("/board/" + this.board.id);
    }
}
</script>

<style lang="scss" scoped>
.v-card--outlined {
    border-color: #07748c !important;
    border-width: 2px !important;
}
</style>
