<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <h1 class="headline-d">
                        Welcome Back,
                        <span class="primary--text">{{ name }}</span>
                    </h1>
                    <v-divider />

                    <br />
                    <br />
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col md="8" sm="12" cols="12">
                    <v-row>
                        <v-col cols="12" md="10">
                            <h3>Your Boards</h3>
                        </v-col>
                        <v-col cols="12" md="2">
                            <v-btn
                                outlined
                                color="primary"
                                @click="showCreateDialog = true"
                                block
                                ><v-icon left>mdi-plus</v-icon>CREATE NEW</v-btn
                            >
                        </v-col>
                    </v-row>
                    <v-row
                        justify="center"
                        align="center"
                        justify-sm="center"
                        v-if="boards.length > 0"
                    >
                        <v-col
                            md="4"
                            lg="4"
                            cols="12"
                            v-for="(board, ix) in boards"
                            :key="'Board-' + ix"
                        >
                            <v-row justify="center">
                                <v-card
                                    class="mx-auto"
                                    min-width="95%"
                                    outlined
                                    style="cursor:pointer"
                                    @click.stop="
                                        $router.push('/board/' + board.id)
                                    "
                                    @contextmenu.prevent="
                                        showMenu($event, board)
                                    "
                                    v-ripple="{
                                        center: true,
                                        class: `primary--text`
                                    }"
                                >
                                    <v-card-text>
                                        <v-row justify="end"><br /> </v-row>
                                        <v-row justify="center">
                                            <v-avatar size="76" color="primary">
                                                <span
                                                    class="white--text headline"
                                                    >{{ board.id }}</span
                                                >
                                            </v-avatar>
                                        </v-row>
                                        <br />
                                        <h2 class="text-center primary--text">
                                            {{ board.name }}
                                        </h2>
                                        <p class="text-center primary--text">
                                            Agile /
                                            {{
                                                board.type
                                                    .charAt(0)
                                                    .toUpperCase() +
                                                    board.type.substr(1)
                                            }}
                                        </p>
                                        <br />
                                        <p class="text-center">
                                            {{ board.openIssues }} Open Issues
                                        </p>
                                        <p class="text-center">
                                            {{ board.sprints.length }}
                                            Sprint(s)
                                        </p>
                                    </v-card-text>
                                </v-card>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-row
                        justify="center"
                        align="center"
                        justify-sm="center"
                        v-else
                    >
                        You have no boards, press "Create New" to start your
                        first board.
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
        <create-new-board-dialog
            :showDialog.sync="showCreateDialog"
            @submit="newBoard"
        />

        <v-menu
            v-model="showContextMenu"
            :position-x="menuX"
            :position-y="menuY"
            absolute
            offset-y
        >
            <v-list>
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click="item.onClick(currentContextItem)"
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { Route } from "vue-router";
import { IBoard, getAllBoards, createBoard } from "../api/Board";
import CreateNewBoardDialog from "../components/dialogs/CreateNewBoardDialog.vue";
import { user } from "../store/User";

@Component({
    components: {
        CreateNewBoardDialog
    }
})
export default class Boards extends Vue {
    private bgEl: HTMLElement | undefined = undefined;
    private showCreateDialog: boolean = false;
    private showContextMenu: boolean = false;
    private menuX: number = 0;
    private menuY: number = 0;
    private currentContextItem!: IBoard;
    private items = [
        {
            title: "View",
            onClick: (item: IBoard) => {
                this.pushToRoute("/board/" + item.id);
            }
        },
        {
            title: "Edit",
            onClick: (item: IBoard) => {
                this.pushToRoute("/board/" + item.id + "/settings");
            }
        },
        {
            title: "Delete",
            onClick: (item: IBoard) => {
                this.pushToRoute("/board/" + item.id + "/settings?tab=delete");
            }
        }
    ];
    private boards: IBoard[] = [];
    async created() {
        this.boards = await getAllBoards();
    }
    mounted() {
        if (this.boards.length <= 3) {
            const el: HTMLElement = document.createElement("div");
            el.classList.add("bg-display");
            this.bgEl = el;
            document.getElementsByTagName("body")[0].appendChild(el);
        }
    }

    pushToRoute(path: string) {
        this.$router.push(path);
    }

    get name() {
        return user.name;
    }

    newBoard(board: IBoard) {
        this.boards.push(board);
        createBoard(board);
        if (this.boards.length > 3) {
            document
                .getElementsByTagName("body")[0]
                .removeChild(this.bgEl as HTMLElement);
        }
    }

    showMenu(e: MouseEvent, board: IBoard) {
        this.showContextMenu = false;
        this.menuX = e.clientX;
        this.menuY = e.clientY;
        this.currentContextItem = board;
        this.$nextTick(() => {
            this.showContextMenu = true;
        });
    }

    beforeDestroy() {
        document
            .getElementsByTagName("body")[0]
            .removeChild(this.bgEl as HTMLElement);
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 300;
}
.circle-name {
    position: absolute;
    bottom: 50px;
    width: 180px;
    text-align: center;
}
.cont-btn {
    display: block;
    width: 75%;
    margin-top: 25px;
}
</style>
