<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col cols="12">
                    <v-tabs vertical v-model="tab">
                        <v-tab :href="'#general'" :key="'general'">
                            <div class="width: 250px;">
                                <v-icon left>settings</v-icon>
                                <span style="text-align: right;">General</span>
                            </div>
                        </v-tab>
                        <v-tab
                            v-if="getPermissionOfUser() === 'Owner'"
                            :href="'#delete'"
                            :key="'delete'"
                        >
                            <div class="width: 250px;">
                                <v-icon left style="float:left;">delete</v-icon>
                                <span style="text-align: right;">Delete</span>
                            </div>
                        </v-tab>
                        <v-tab :href="'#members'" :key="'members'">
                            <div class="width: 250px;">
                                <v-icon left style="float:left;"
                                    >mdi-account-supervisor</v-icon
                                >
                                <span style="text-align: right;">Members</span>
                            </div>
                        </v-tab>
                        <v-tab-item :key="'general'" :value="'general'">
                            <v-card flat>
                                <v-card-text>
                                    <h3>Name</h3>
                                    <p>The name of your board</p>
                                    <hr />
                                    <br />
                                    <v-text-field
                                        outlined
                                        :value="board.name"
                                        @input="onBoardNameChange"
                                    />
                                    <br />
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item :key="'delete'" :value="'delete'">
                            <v-card outlined>
                                <v-card-title class="error--text"
                                    ><strong>Delete Board</strong></v-card-title
                                >
                                <v-card-text
                                    >You are about to delete this board please
                                    note this cannot be undone and once you
                                    proceed all data from the board will be lost
                                    press delete to delete<br /><br />
                                    <v-btn
                                        block
                                        color="error"
                                        @click="onDeleteBoard"
                                        >DELETE</v-btn
                                    >
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item :key="'members'" :value="'members'">
                            <v-card flat>
                                <v-card-title class="primary--text"
                                    ><strong
                                        >Board Members</strong
                                    ></v-card-title
                                >
                                <v-card-text>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-row justify="end">
                                                <v-icon
                                                    @click.prevent="
                                                        showNewMemberFields = true
                                                    "
                                                    v-if="canDoStuff()"
                                                    size="35"
                                                    color="primary"
                                                    style="cursor:pointer;"
                                                    >mdi-plus-circle</v-icon
                                                >
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                    <ul>
                                        <li>
                                            Administrator: Can do everything to
                                            a board. Except delete a board.
                                        </li>
                                        <li>
                                            Board User: can create issues and
                                            edit the status of issues and assign
                                            themselves to issues, they cannot
                                            edit board settings or plan sprints
                                        </li>
                                    </ul>
                                    <v-simple-table>
                                        <template v-slot:default>
                                            <thead>
                                                <tr>
                                                    <th class="text-left">
                                                        Name
                                                    </th>
                                                    <th class="text-left">
                                                        Permission
                                                    </th>
                                                    <th class="text-left">
                                                        Delete?
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    v-for="item in board.users"
                                                    :key="item.id"
                                                >
                                                    <td>{{ item.name }}</td>
                                                    <td>
                                                        {{
                                                            item.pivot
                                                                .permission
                                                        }}
                                                    </td>
                                                    <td>
                                                        <v-btn
                                                            v-if="
                                                                item.pivot
                                                                    .permission !==
                                                                    'Owner'
                                                            "
                                                            :disabled="
                                                                !canDoStuff()
                                                            "
                                                            outlined
                                                            color="error"
                                                            @click="
                                                                removeUser(
                                                                    item.id
                                                                )
                                                            "
                                                            >Delete</v-btn
                                                        >
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                    <br />
                                    <div v-if="showNewMemberFields">
                                        <v-row>
                                            <v-col cols="12" md="6">
                                                <v-autocomplete
                                                    v-model="model"
                                                    :search-input.sync="search"
                                                    :items="users"
                                                    :loading="loading"
                                                    item-text="name"
                                                    item-value="id"
                                                    outlined
                                                    label="Name or Email"
                                                    hide-no-data
                                                    hide-details
                                                    hide-selected
                                                    placeholder="Search for a Registered Member"
                                                    prepend-icon="mdi-database-search"
                                                    return-object
                                                >
                                                    <template v-slot:no-data>
                                                        <v-list-item>
                                                            <v-list-item-title>
                                                                User not found!
                                                            </v-list-item-title>
                                                        </v-list-item>
                                                    </template>
                                                </v-autocomplete>
                                            </v-col>
                                            <v-col cols="12" md="6">
                                                <v-select
                                                    :items="permissions"
                                                    v-model="permissionChosen"
                                                    label="Permission"
                                                    outlined
                                                />
                                            </v-col>
                                        </v-row>
                                        <v-row justify="end">
                                            <v-btn
                                                outlined
                                                color="primary"
                                                @click="addUserToBoard"
                                                :disabled="model === null"
                                                >ADD USER TO BOARD</v-btn
                                            >
                                        </v-row>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import {
    IBoard,
    updateBoard,
    deleteBoard,
    addMemberToBoard,
    removeMemberFromBoard
} from "../api/Board";
import { getUserBySearch } from "../api/User";
import { snackbar } from "../store/Snackbar";
import { IUser, user } from "../store/User";

@Component
export default class BoardSettings extends Vue {
    @Prop(Object) board!: IBoard;

    private tab: string | null = null;
    private users: IUser[] = [];
    private search: string = "";
    private model: any = null;
    private loading: boolean = false;
    private permissions: string[] = ["Administrator", "Board User"];
    private permissionChosen: string = "Board User";
    private showNewMemberFields: boolean = false;

    mounted() {
        if (this.$route.query.tab) {
            this.tab = this.$route.query.tab as string;
        } else {
            this.tab = "general";
        }
    }

    @Watch("search")
    onSearchChange() {
        if (this.search !== "" && this.search.length > 0) {
            this.loading = true;
            getUserBySearch(this.search).then((users: IUser[]) => {
                this.users = users.filter(
                    u => !this.board.users.find(u1 => u1.email === u.email)
                );
                this.loading = false;
            });
        }
    }

    getPermissionOfUser() {
        const id = user.userId;
        return (this.board.users.filter((u: any) => u.id === id)[0] as any)
            .pivot.permission;
    }

    canDoStuff() {
        return (
            this.getPermissionOfUser() === "Administrator" ||
            this.getPermissionOfUser() === "Owner"
        );
    }

    async addUserToBoard() {
        try {
            await addMemberToBoard(this.board.id, {
                userId: this.model.id,
                permission: this.permissionChosen
            });
            this.board.users.push((this.model as unknown) as IUser);
            this.model = null;
            this.search = "";
            this.permissionChosen = "Board User";
            this.showNewMemberFields = false;
            this.$forceUpdate();
        } catch {
            snackbar.showFailedSnackbar(
                "Failed to add new user. Please try again later."
            );
        }
    }

    async removeUser(userId: number) {
        try {
            await removeMemberFromBoard(this.board.id, { userId });
            this.board.users = this.board.users.filter(
                (u: any) => u.id === userId
            );
            this.$forceUpdate();
        } catch {
            snackbar.showFailedSnackbar(
                "Failed to remove user. Please try again later."
            );
        }
    }

    onBoardNameChange(val: string) {
        this.board.name = val;
        updateBoard(this.board.id, this.board);
    }

    async onDeleteBoard() {
        await deleteBoard(this.board.id);
        this.$router.push("/boards");
    }

    @Watch("tab")
    onTabChange() {
        window.history.pushState({}, "", "?tab=" + this.tab);
    }
}
</script>

<style lang="scss" scoped>
.v-card--outlined {
    border-color: #d94f4f !important;
    border-width: 2px !important;
}
</style>
