<template>
    <div>
        <h3>Issues</h3>
        <v-container fluid>
            <v-row justify="start">
                <v-col :md="getItems().length > 0 ? 5 : 12" cols="12">
                    <v-treeview
                        :active.sync="tree"
                        :items="getItems()"
                        v-if="getItems().length > 0"
                        item-key="id"
                        :activatable="true"
                        transition
                    >
                        <template v-slot:prepend="{ item }">
                            <v-icon color="primary">
                                {{
                                    item.type === "task"
                                        ? "mdi-pencil-ruler"
                                        : "mdi-bug"
                                }}
                            </v-icon>
                        </template>
                        <template v-slot:append="{ item }">
                            <span class="primary--text">({{ item.id }})</span> -
                            <span
                                :class="{
                                    'primary--text':
                                        item.progress === 'In Progress',
                                    'success--text': item.progress === 'Done'
                                }"
                                >{{ item.progress }}</span
                            >
                        </template>
                    </v-treeview>
                    <v-row justify="center" v-else>
                        <h3 style="font-weight: 400">
                            You have no issues in this board please click
                            <strong>'Create issue'</strong> to create your first
                            issue
                        </h3>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Prop } from "vue-property-decorator";
import { IBoard } from "../api/Board";

@Component
export default class BoardBacklog extends Vue {
    @Prop(Object) board!: IBoard;
    private tree: any = [];

    @Watch("tree")
    onTreeUpdate() {
        if (this.tree[0]) {
            this.$router.push(
                "/board/" + this.board.id + "/issue/" + this.tree[0]
            );
        }
    }

    @Watch("board")
    onBoardIssuesChange() {
        this.$forceUpdate();
    }

    getItems() {
        return this.board.issues.filter(i => i.sprint == undefined);
    }

    mounted() {
        console.log(this.$route.meta);
    }
}
</script>

<style lang="scss">
.v-treeview-node__content {
    cursor: pointer;
}
</style>
