<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col cols="12">
                    <v-tabs v-model="tab" show-arrows grow>
                        <v-tab
                            v-for="item in board.sprints"
                            :href="'#' + item.id"
                            :key="item.id"
                        >
                            {{ item.name }} ~ {{ item.startDate }} -
                            {{ item.endDate }}
                        </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab">
                        <v-tab-item
                            v-for="item in board.sprints"
                            :key="item.id"
                            :value="item.id"
                        >
                            <v-row>
                                <v-col cols="4">
                                    <v-card outlined>
                                        <v-card-title class="primary--text"
                                            ><strong>TODO</strong></v-card-title
                                        >
                                        <v-card-text>
                                            <v-row>
                                                <v-col
                                                    cols="12"
                                                    v-for="(item,
                                                    ix) in todoIssues"
                                                    :key="'TODO-' + ix"
                                                >
                                                    <v-card
                                                        outlined
                                                        style="cursor: pointer"
                                                        v-ripple="{
                                                            center: true,
                                                            class: `primary--text`
                                                        }"
                                                        @click="
                                                            $router.push(
                                                                '/board/' +
                                                                    board.id +
                                                                    '/issue/' +
                                                                    item.id
                                                            )
                                                        "
                                                    >
                                                        <v-container fluid>
                                                            <v-row>
                                                                <v-col
                                                                    cols="10"
                                                                >
                                                                    <p
                                                                        class="primary--text"
                                                                        style="padding-top: 11px !important;"
                                                                    >
                                                                        <strong>
                                                                            {{
                                                                                item.name
                                                                            }}
                                                                        </strong>
                                                                    </p>
                                                                </v-col>
                                                                <v-col cols="2">
                                                                    <v-avatar
                                                                        color="primary"
                                                                        ><span
                                                                            class="white--text"
                                                                            >{{
                                                                                item.id
                                                                            }}</span
                                                                        ></v-avatar
                                                                    >
                                                                </v-col>
                                                            </v-row>
                                                            <v-row
                                                                justify="center"
                                                            >
                                                                <v-col
                                                                    cols="12"
                                                                >
                                                                    <span
                                                                        class="text-center"
                                                                    >
                                                                        {{
                                                                            item.description
                                                                        }}
                                                                        <br />
                                                                        <strong
                                                                            >{{
                                                                                item
                                                                                    .children
                                                                                    .length
                                                                            }}</strong
                                                                        >
                                                                        Sub
                                                                        Issue(s)
                                                                        <br />
                                                                        <strong
                                                                            >{{
                                                                                item
                                                                                    .links
                                                                                    .length
                                                                            }}</strong
                                                                        >
                                                                        Linked
                                                                        Issue(s)
                                                                    </span>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                                <v-col cols="4">
                                    <v-card outlined>
                                        <v-card-title class="primary--text"
                                            ><strong
                                                >IN PROGRESS</strong
                                            ></v-card-title
                                        >
                                        <v-card-text>
                                            <v-row>
                                                <v-col
                                                    cols="12"
                                                    v-for="(item,
                                                    ix) in inProgressIssues"
                                                    :key="'INPROGRESS-' + ix"
                                                >
                                                    <v-card
                                                        outlined
                                                        style="cursor: pointer"
                                                        v-ripple="{
                                                            center: true,
                                                            class: `primary--text`
                                                        }"
                                                        @click="
                                                            $router.push(
                                                                '/board/' +
                                                                    board.id +
                                                                    '/issue/' +
                                                                    item.id
                                                            )
                                                        "
                                                    >
                                                        <v-container fluid>
                                                            <v-row>
                                                                <v-col
                                                                    cols="10"
                                                                >
                                                                    <p
                                                                        class="primary--text"
                                                                        style="padding-top: 11px !important;"
                                                                    >
                                                                        <strong>
                                                                            {{
                                                                                item.name
                                                                            }}
                                                                        </strong>
                                                                    </p>
                                                                </v-col>
                                                                <v-col cols="2">
                                                                    <v-avatar
                                                                        color="primary"
                                                                        ><span
                                                                            class="white--text"
                                                                            >{{
                                                                                item.id
                                                                            }}</span
                                                                        ></v-avatar
                                                                    >
                                                                </v-col>
                                                            </v-row>
                                                            <v-row
                                                                justify="center"
                                                            >
                                                                <v-col
                                                                    cols="12"
                                                                >
                                                                    <span
                                                                        class="text-center"
                                                                    >
                                                                        {{
                                                                            item.description
                                                                        }}
                                                                        <br />
                                                                        <strong
                                                                            >{{
                                                                                item
                                                                                    .children
                                                                                    .length
                                                                            }}</strong
                                                                        >
                                                                        Sub
                                                                        Issue(s)
                                                                        <br />
                                                                        <strong
                                                                            >{{
                                                                                item
                                                                                    .links
                                                                                    .length
                                                                            }}</strong
                                                                        >
                                                                        Linked
                                                                        Issue(s)
                                                                    </span>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                                <v-col cols="4">
                                    <v-card outlined>
                                        <v-card-title class="primary--text"
                                            ><strong>DONE</strong></v-card-title
                                        >
                                        <v-card-text>
                                            <v-row>
                                                <v-col
                                                    cols="12"
                                                    v-for="(item,
                                                    ix) in doneIssues"
                                                    :key="'DONE-' + ix"
                                                >
                                                    <v-card
                                                        outlined
                                                        style="cursor: pointer"
                                                        v-ripple="{
                                                            center: true,
                                                            class: `primary--text`
                                                        }"
                                                        @click="
                                                            $router.push(
                                                                '/board/' +
                                                                    board.id +
                                                                    '/issue/' +
                                                                    item.id
                                                            )
                                                        "
                                                    >
                                                        <v-container fluid>
                                                            <v-row>
                                                                <v-col
                                                                    cols="10"
                                                                >
                                                                    <p
                                                                        class="primary--text"
                                                                        style="padding-top: 11px !important;"
                                                                    >
                                                                        <strong>
                                                                            {{
                                                                                item.name
                                                                            }}
                                                                        </strong>
                                                                    </p>
                                                                </v-col>
                                                                <v-col cols="2">
                                                                    <v-avatar
                                                                        color="primary"
                                                                        ><span
                                                                            class="white--text"
                                                                            >{{
                                                                                item.id
                                                                            }}</span
                                                                        ></v-avatar
                                                                    >
                                                                </v-col>
                                                            </v-row>
                                                            <v-row
                                                                justify="center"
                                                            >
                                                                <v-col
                                                                    cols="12"
                                                                >
                                                                    <span
                                                                        class="text-center"
                                                                    >
                                                                        {{
                                                                            item.description
                                                                        }}
                                                                        <br />
                                                                        <strong
                                                                            >{{
                                                                                item
                                                                                    .children
                                                                                    .length
                                                                            }}</strong
                                                                        >
                                                                        Sub
                                                                        Issue(s)
                                                                        <br />
                                                                        <strong
                                                                            >{{
                                                                                item
                                                                                    .links
                                                                                    .length
                                                                            }}</strong
                                                                        >
                                                                        Linked
                                                                        Issue(s)
                                                                    </span>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-card>
                                                </v-col>
                                            </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-tab-item>
                    </v-tabs-items>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import { ISprint } from "../api/Sprint";
import { IBoard } from "../api/Board";

@Component
export default class BoardSprint extends Vue {
    @Prop(Object) board!: IBoard;
    @Prop(Array) items!: any[];
    private tab: string | null = null;

    mounted() {
        if (this.$route.query.tab) {
            this.tab = this.$route.query.tab as string;
        } else {
            this.tab = this.board.sprints[0].id;
        }
    }

    get todoIssues() {
        return (this.board.sprints.find(
            s => s.id === this.tab
        ) as ISprint).issues.filter(i => i.progress === "ToDo");
    }

    get inProgressIssues() {
        return (this.board.sprints.find(
            s => s.id === this.tab
        ) as ISprint).issues.filter(i => i.progress === "In Progress");
    }

    get doneIssues() {
        return (this.board.sprints.find(
            s => s.id === this.tab
        ) as ISprint).issues.filter(i => i.progress === "Done");
    }

    @Watch("tab")
    onTabChange() {
        window.history.pushState({}, "", "?tab=" + this.tab);
        this.items[2].text = "Sprint-" + this.tab;
    }
}
</script>

<style lang="scss" scoped>
.v-card--outlined {
    border-color: #07748c !important;
    border-width: 2px !important;
}
</style>
