<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <v-breadcrumbs
                        class="breadcrumbs"
                        :items.sync="items"
                    ></v-breadcrumbs>
                    <h1 class="headline-d">
                        <span class="primary--text"
                            >{{ board.name.toUpperCase() }}({{
                                board.id
                            }})</span
                        >
                    </h1>
                    <v-row>
                        <v-col cols="12" md="10">
                            <p class="primary--text">
                                Agile /
                                {{
                                    board.type.charAt(0).toUpperCase() +
                                        board.type.substr(1)
                                }}
                            </p>
                        </v-col>
                        <v-col cols="12" md="2">
                            <v-row justify-md="end">
                                <member-chip
                                    v-for="(u, ix) in filteredUsers"
                                    :key="'User-' + ix"
                                    :user="u"
                                />
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-divider />
                    <v-row>
                        <v-col
                            cols="12"
                            md="2"
                            v-for="(link, ix) in links"
                            :key="'Link-' + ix"
                        >
                            <v-btn
                                :outlined="!link.filled"
                                color="primary"
                                @click="link.onClick"
                                :disabled="link.disabled"
                                block
                            >
                                <v-icon v-if="link.preIcon" left light>{{
                                    link.preIcon
                                }}</v-icon>
                                {{ link.text }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12">
                    <transition name="slide-right" mode="out-in">
                        <router-view
                            ref="rv"
                            :board.sync="board"
                            :items.sync="items"
                        />
                    </transition>
                </v-col>
            </v-row>
        </v-container>
        <create-new-issue-dialog
            :showDialog.sync="showCreateDialog"
            :boardId="board.id"
            :insertId.sync="board.issues.length + 1"
            @submit="addIssue"
        />
        <plan-sprint-dialog
            :showDialog.sync="showPlanSprintDialog"
            :boardId="board.id"
            :insertId.sync="board.sprints.length + 1"
            :backlogIssues="board.issues.filter(i => !i.sprint)"
            :lastSprintEndDate="getLastSprintEndDate()"
            @submit="addSprint"
        />
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch } from "vue-property-decorator";
import CreateNewIssueDialog from "../components/dialogs/CreateNewIssueDialog.vue";
import PlanSprintDialog from "../components/dialogs/PlanSprintDialog.vue";
import MemberChip from "../components/app/MemberChip.vue";
import { Route } from "vue-router";
import { IBoard, getBoard } from "../api/Board";
import { IIssue, createIssue } from "../api/Issue";
import { ISprint, createASprint, ICreateSprint } from "../api/Sprint";
import { user } from "../store/User";

@Component({
    components: {
        CreateNewIssueDialog,
        PlanSprintDialog,
        MemberChip
    }
})
export default class Board extends Vue {
    private showCreateDialog: boolean = false;
    private showPlanSprintDialog: boolean = false;
    private board: IBoard = {
        name: "",
        id: "",
        type: "scrum",
        openIssues: 0,
        sprints: [],
        issues: [],
        users: []
    };
    private items: any[] = [
        {
            disabled: false,
            text: "Boards",
            to: "/boards",
            exact: true
        }
    ];
    private links: any[] = [];

    get filteredUsers() {
        return this.board.users.slice(0, 3);
    }

    addIssue(issue: IIssue) {
        this.board.issues.push(issue);
        createIssue({ ...issue, board_id: this.board.id });
        this.$forceUpdate();
    }

    getPermissionOfUser() {
        const id = user.userId;
        return (this.board.users.filter((u: any) => u.id === id)[0] as any)
            .pivot.permission;
    }

    canDoStuff() {
        return (
            this.getPermissionOfUser() === "Administrator" ||
            this.getPermissionOfUser() === "Owner"
        );
    }

    addSprint(sprint: ISprint) {
        this.board.sprints.push(sprint);
        this.board.issues.forEach(i => {
            sprint.issues.forEach(si => {
                if (i.id === si.id) {
                    i.sprint = sprint;
                }
            });
        });
        (this.$refs.rv as Vue).$forceUpdate();
        this.links[1].disabled = this.getSprintDisabled();
        const newSprint = Object.assign({}, sprint) as any;
        newSprint.issues = newSprint.issues.map((i: IIssue) => i.id);
        createASprint({
            ...newSprint,
            board_id: this.board.id
        } as ICreateSprint);
        this.$forceUpdate();
    }

    getLastSprintEndDate() {
        if (this.board.sprints.length > 0) {
            return this.parseDate(
                this.board.sprints[this.board.sprints.length - 1].endDate
            );
        }
    }

    getSprintDisabled() {
        let disable = true;
        if (this.board.sprints.length > 0) {
            this.board.sprints.forEach(s => {
                if (disable) {
                    const date = new Date(this.parseDate(s.startDate));
                    const today = new Date();
                    disable = !(
                        date.getDate() == today.getDate() &&
                        date.getMonth() == today.getMonth() &&
                        date.getFullYear() == today.getFullYear()
                    );
                }
            });

            return disable;
        }

        return true;
    }

    parseDate(date: string) {
        const [day, month, year] = date.split("/");
        return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    }

    openCreateDialog() {
        this.showCreateDialog = true;
    }

    openPlanSprintDialog() {
        this.showPlanSprintDialog = true;
    }

    @Watch("$route")
    onRouteChange() {
        if (this.$route.path === "/board/" + this.board.id) {
            this.links.forEach(l => (l.filled = false));
            this.links[0].filled = true;
            if (this.items.length > 2) {
                this.items.pop();
                this.items[1].disabled = true;
            }
        } else if (
            this.$route.path ===
            "/board/" + this.board.id + "/settings"
        ) {
            this.links.forEach(l => (l.filled = false));
            this.links[4].filled = true;
            if (this.items.length > 2) {
                this.items.pop();
                this.items.push({
                    disabled: true,
                    text: "Settings",
                    to: "/board/" + this.board.id + "/settings"
                });
            } else {
                this.items.push({
                    disabled: true,
                    text: "Settings",
                    to: "/board/" + this.board.id + "/settings"
                });
            }
            this.items[1].disabled = false;
        } else if (this.$route.path.includes("sprint")) {
            this.links.forEach(l => (l.filled = false));
            this.links[1].filled = true;
            if (this.items.length > 2) {
                this.items.pop();
                this.items.push({
                    disabled: true,
                    text: "Sprint-" + this.$route.query.tab
                });
            } else {
                this.items.push({
                    disabled: true,
                    text:
                        "Sprint-" +
                        this.$route.path.split("/")[
                            this.$route.path.split("/").length - 1
                        ]
                });
            }
            this.items[1].disabled = false;
        } else if (this.$route.path.includes("issue")) {
            this.links.forEach(l => (l.filled = false));
            if (this.items.length > 2) {
                this.items.pop();
                this.items.push({
                    disabled: true,
                    text: "Issue-" + this.$route.params.isId
                });
            } else {
                this.items.push({
                    disabled: true,
                    text: "Issue-" + this.$route.params.isId
                });
            }
        }
    }

    async created() {
        this.board = await getBoard(this.$route.params.id);
        this.items.push({
            disabled: true,
            text: this.board.name,
            to: "/board/" + this.board.id,
            exact: true
        });
        this.links = [
            {
                text: "Backlog",
                filled: true,
                disabled: false,
                onClick: () => {
                    this.pushRoute("/board/" + this.board.id);
                }
            },
            {
                text: "Sprint",
                filled: false,
                disabled: this.board.sprints.length === 0,
                onClick: () => {
                    this.pushRoute("/board/" + this.board.id + "/sprint");
                }
            },
            {
                text: "Create Issue",
                preIcon: "plus",
                filled: false,
                disabled: false,
                onClick: () => {
                    this.openCreateDialog();
                }
            },
            {
                text: "Plan Sprint",
                filled: false,
                disabled: !this.canDoStuff(),
                onClick: () => {
                    this.openPlanSprintDialog();
                }
            },
            {
                text: "Board Settings",
                filled: false,
                disabled: !this.canDoStuff(),
                onClick: () => {
                    this.pushRoute("/board/" + this.board.id + "/settings");
                }
            }
        ];
        if (this.$route.path === "/board/" + this.board.id) {
            this.links.forEach(l => (l.filled = false));
            this.links[0].filled = true;
        } else if (
            this.$route.path ===
            "/board/" + this.board.id + "/settings"
        ) {
            this.links.forEach(l => (l.filled = false));
            this.links[4].filled = true;
            this.items.push({
                disabled: true,
                text: "Settings",
                to: "/board/" + this.board.id + "/settings"
            });
            this.items[1].disabled = false;
        } else if (this.$route.path.includes("sprint")) {
            this.links.forEach(l => (l.filled = false));
            this.links[1].filled = true;
            this.items.push({
                disabled: true,
                text: "Sprint-" + this.$route.query.tab
            });
            this.items[1].disabled = false;
        } else if (this.$route.path.includes("issue")) {
            this.links.forEach(l => (l.filled = false));
            this.items.push({
                disabled: true,
                text: "Issue-" + this.$route.params.isId
            });
            this.items[1].disabled = false;
        }

        this.links[1].disabled = this.getSprintDisabled();
    }

    pushRoute(path: string) {
        this.$router.push(path);
    }
}
</script>

<style lang="scss" scoped>
.breadcrumbs {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}
.headline-d {
    font-weight: 800;
    font-size: 48px;
    text-transform: capitalize;
    span {
        text-transform: capitalize;
    }
}
</style>
