<template>
    <div>
        <v-row justify="center">
            <v-col cols="12" md="8">
                <h1 class="primary--text  text-center headline-d">
                    {{ lesson.name }}
                </h1>
                <v-divider style="width: 100% !important;" />
                <br />
                <p class="text-center second-d">
                    Unfortunately, You didn't Pass!
                </p>
                <p class="text-center third-d">
                    You scored {{ percentageCorrect }}% in the quiz
                </p>
            </v-col>
            <v-col cols="12">
                <v-row justify="center">
                    <v-btn
                        style="min-width: 243px;"
                        @click="showResults = true"
                        color="primary"
                        >VIEW RESULTS</v-btn
                    >
                </v-row>
            </v-col>
            <v-col cols="12">
                <v-row justify="center">
                    <v-btn
                        style="min-width: 243px;"
                        @click="$router.push('/module/' + lesson.moduleId)"
                        color="primary"
                        >CONTINUE</v-btn
                    >
                </v-row>
            </v-col>
            <v-col cols="12">
                <v-row justify="center">
                    <v-btn
                        style="min-width: 243px;"
                        @click="$emit('resetLesson')"
                        color="error"
                        >RETRY</v-btn
                    >
                </v-row>
            </v-col>
        </v-row>
        <v-dialog v-model="showResults" width="587" max-width="587">
            <v-card class="vector">
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h3
                                    class="font-bold text-center primary--text headline-dia"
                                >
                                    RESULTS
                                </h3>
                            </v-col>
                        </v-row>
                        <div
                            v-for="(question, ix) in lesson.quiz"
                            :key="'QuizItem' + ix"
                        >
                            <p class="font-bold primary--text">
                                Q{{ question.qNo }}. {{ question.title }}
                            </p>
                            <v-divider />
                            <br />
                            <div v-if="!answersCorrect[ix]">
                                <v-icon color="error">close</v-icon>
                                <span class="error--text">Wrong</span
                                ><br /><br />
                                <strong>Answer is:</strong>
                                {{ question.answers[question.answer] }}<br />
                            </div>
                            <div v-else>
                                <v-icon color="success">check</v-icon>
                                <span class="success--text">Right</span><br />
                            </div>
                            <br />
                            <br />
                        </div>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Route } from "vue-router";
import { ILesson } from "../api/Lesson";
Component.registerHooks(["beforeRouteLeave"]);
@Component
export default class Fail extends Vue {
    @Prop(Array) answersCorrect!: boolean[];
    @Prop(Object) lesson!: ILesson;
    private showResults: boolean = false;

    get percentageCorrect() {
        let numbersOfRight = 0;
        this.answersCorrect.forEach(i => (i === true ? numbersOfRight++ : 0));
        return (numbersOfRight / this.answersCorrect.length) * 100;
    }

    private bgEl: HTMLElement | undefined = undefined;
    mounted() {
        const el: HTMLElement = document.createElement("div");
        el.classList.add("bg-display");
        this.bgEl = el;
        document.getElementsByTagName("body")[0].appendChild(el);
    }

    beforeDestroy() {
        document
            .getElementsByTagName("body")[0]
            .removeChild(this.bgEl as HTMLElement);
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    margin-top: 50px;
    font-weight: 300;
    font-size: 48px;
}
.second-d {
    font-weight: bold;
    font-size: 36px;
}
.third-d {
    font-weight: normal;
    font-size: 24px;
}
</style>
