<template>
    <div>
        <v-row>
            <v-col>
                <h1
                    class="text-center"
                    style="font-size: 2.4rem; padding-top: 70px;"
                >
                    <span class="primary--text">A</span>gile
                    <span class="primary--text">L</span>earning
                    <span class="primary--text">P</span>latform for
                    <span class="primary--text">S</span>tudents
                </h1>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-btn
                outlined
                color="primary"
                @click="$router.push('/learning')"
                x-large
                class="cta"
                >START LEARNING</v-btn
            >
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { Route } from "vue-router";

Component.registerHooks(["beforeRouteLeave"]);

@Component
export default class Home extends Vue {
    private bgEl: HTMLElement | undefined = undefined;
    mounted() {
        const el: HTMLElement = document.createElement("div");
        el.classList.add("diagram");
        this.bgEl = el;
        document
            .getElementsByTagName("body")[0]
            .insertBefore(el, document.getElementById("app"));
    }

    beforeDestroy() {
        document
            .getElementsByTagName("body")[0]
            .removeChild(this.bgEl as HTMLElement);
    }
}
</script>

<style lang="scss" scoped>
.cta {
    margin-top: 20px;
    z-index: 150;
}
</style>
