<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <h1 class="headline-d">
                        Welcome Back,
                        <span class="primary--text">{{ name }}</span>
                    </h1>
                    <v-divider />
                    <br />
                    <br />
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col md="8" sm="12">
                    <v-row justify="center" align="center" justify-sm="center">
                        <v-col
                            md="12"
                            lg="4"
                            v-for="(module, ix) in modules"
                            :key="'Module-' + ix"
                        >
                            <v-row justify="center">
                                <v-progress-circular
                                    :rotate="270"
                                    :size="180"
                                    :value="getPercentage(module)"
                                    :width="20"
                                    color="primary"
                                    >{{ parseInt(getPercentage(module)) }}%
                                    <h3 class="circle-name">
                                        {{ module.name }}
                                    </h3></v-progress-circular
                                >

                                <v-btn
                                    class="cont-btn"
                                    @click="
                                        $router.push('/module/' + module.id)
                                    "
                                    outlined
                                    color="primary"
                                    >CONTINUE</v-btn
                                >
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { Route } from "vue-router";
import { IModule, getAllModules } from "../api/Module";
import { Progress, ILesson } from "../api/Lesson";
import { user } from "../store/User";

Component.registerHooks(["beforeRouteLeave"]);

@Component
export default class LearningDashboard extends Vue {
    private bgEl: HTMLElement | undefined = undefined;
    private modules: IModule[] = [];

    async created() {
        this.modules = await getAllModules();
    }

    get name() {
        return user.name;
    }

    getPercentage(module: IModule) {
        const numberOfLessons = module.lessons.length;
        const numberOfCompletedLessons = module.lessons.filter(
            (l: ILesson) => l.progress === Progress.FINISHED
        ).length;

        return (numberOfCompletedLessons / numberOfLessons) * 100;
    }

    mounted() {
        const el: HTMLElement = document.createElement("div");
        el.classList.add("bg-display");
        this.bgEl = el;
        document.getElementsByTagName("body")[0].appendChild(el);
    }

    beforeDestroy() {
        document
            .getElementsByTagName("body")[0]
            .removeChild(this.bgEl as HTMLElement);
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 300;
}
.circle-name {
    position: absolute;
    bottom: 50px;
    width: 180px;
    text-align: center;
}
.cont-btn {
    display: block;
    width: 75%;
    margin-top: 25px;
}
</style>
