<template>
    <transition name="slide-right" mode="out-in">
        <div v-if="!lessonFinished" :key="lessonFinished">
            <!-- <theory :theoryText="lesson.theory" />
        <quiz :questions="lesson.quiz" /> -->
            <v-row>
                <v-col>
                    <h1 class="primary--text headline-d">
                        {{ lesson.name }}
                        <div style="float: right;">
                            <v-icon
                                color="primary"
                                style="padding-right: 15px;"
                                v-for="(item, index) in lesson.includes"
                                :key="'IncludesModule-' + index"
                                >{{ getIcon(item) }}</v-icon
                            >
                        </div>
                    </h1>

                    <v-divider />
                    <br />
                    <p>
                        {{ lesson.description }}
                    </p>
                </v-col>
            </v-row>
            <v-stepper
                v-model="stepperIndex"
                :vertical="false"
                :alt-labels="true"
            >
                <v-stepper-header>
                    <v-stepper-step :complete="stepperIndex > 1" step="1"
                        >Theory</v-stepper-step
                    >

                    <v-divider></v-divider>

                    <v-stepper-step
                        v-if="lesson.includes.includes(1)"
                        :complete="stepperIndex > 2"
                        step="2"
                        >Practical</v-stepper-step
                    >

                    <v-divider></v-divider>

                    <v-stepper-step
                        step="3"
                        v-if="lesson.includes.includes(2)"
                        :complete="quizFinished"
                        >Quiz</v-stepper-step
                    >
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-row class="content-d">
                            <v-col cols="12">
                                <v-row justify="center">
                                    <v-col cols="12" lg="8">
                                        <theory :theoryText="lesson.theory" />
                                    </v-col>
                                </v-row>
                            </v-col>
                            <v-row align="end" justify="center">
                                <v-col cols="12" md="2">
                                    <v-row justify="center">
                                        <v-btn
                                            color="primary"
                                            @click="
                                                lesson.includes.includes(1)
                                                    ? stepperIndex++
                                                    : lesson.includes.includes(
                                                          2
                                                      )
                                                    ? (stepperIndex += 2)
                                                    : endLesson()
                                            "
                                        >
                                            Continue
                                        </v-btn>
                                    </v-row>
                                </v-col>
                                <v-col cols="12" md="2">
                                    <v-row justify="center">
                                        <v-btn
                                            color="error"
                                            @click="
                                                $router.push(
                                                    '/module/' + lesson.moduleId
                                                )
                                            "
                                            >Save & Exit</v-btn
                                        >
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-row>
                    </v-stepper-content>
                    <v-stepper-content
                        v-if="lesson.includes.includes(1)"
                        step="2"
                    >
                        <v-row class="content-d">
                            <v-col cols="12">
                                Nothing to see...
                            </v-col>
                            <v-row align="end" justify="center">
                                <v-col cols="12" md="2">
                                    <v-row justify="center">
                                        <v-btn
                                            color="primary"
                                            @click="stepperIndex++"
                                        >
                                            Continue
                                        </v-btn>
                                    </v-row>
                                </v-col>
                                <v-col cols="12" md="2">
                                    <v-row justify="center">
                                        <v-btn
                                            color="error"
                                            @click="
                                                $router.push(
                                                    '/module/' + lesson.moduleId
                                                )
                                            "
                                            >Save & Exit</v-btn
                                        >
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-row>
                    </v-stepper-content>
                    <v-stepper-content
                        step="3"
                        v-if="lesson.includes.includes(2)"
                    >
                        <v-row class="content-d">
                            <v-col cols="12">
                                <h3 class="text-center">
                                    The quiz is multiple choice, you must score
                                    50%+ or above to pass!
                                </h3>
                                <quiz
                                    :questions="lesson.quiz"
                                    @finished="quizFinishedGetAnswers"
                                />
                            </v-col>
                            <v-row align="end" justify="center">
                                <v-col cols="12" md="2">
                                    <v-row justify="center">
                                        <v-btn
                                            :disabled="!quizFinished"
                                            color="primary"
                                            @click="finishTheLesson"
                                        >
                                            Finish
                                        </v-btn>
                                    </v-row>
                                </v-col>
                                <v-col cols="12" md="2">
                                    <v-row justify="center">
                                        <v-btn
                                            color="error"
                                            @click="
                                                $router.push(
                                                    '/module/' + lesson.moduleId
                                                )
                                            "
                                            >Save & Exit</v-btn
                                        >
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-row>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </div>
        <div v-else :key="!lessonFinished">
            <transition name="slide-right" mode="out-in">
                <pass
                    v-if="percentageAmount >= 50"
                    :lesson="lesson"
                    :answersCorrect="answers"
                />
                <fail
                    v-else
                    :lesson="lesson"
                    :answersCorrect="answers"
                    @resetLesson="resetLesson"
                />
            </transition>
        </div>
    </transition>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Theory from "../components/lesson/Theory.vue";
import Quiz from "../components/lesson/Quiz.vue";
import Pass from "./Pass.vue";
import Fail from "./Fail.vue";
import {
    ILesson,
    LessonType,
    getLesson,
    finishLesson,
    startLesson
} from "../api/Lesson";

@Component({
    components: {
        Theory,
        Quiz,
        Pass,
        Fail
    }
})
export default class Lesson extends Vue {
    private stepperIndex: number = 1;
    private quizFinished: boolean = false;
    private answers: boolean[] = [];
    private lessonFinished: boolean = false;
    private lesson: ILesson = {
        id: 1,
        moduleId: 1,
        name: "",
        description: "",
        estToComplete: "",
        includes: [],
        progress: 1,
        theory: "",
        practical: undefined,
        quiz: []
    };

    async created() {
        this.lesson = await getLesson(this.$route.params.id);
        await startLesson(this.$route.params.id);
    }

    resetLesson() {
        this.stepperIndex = 1;
        this.quizFinished = false;
        this.answers = [];
        this.lessonFinished = false;
    }

    quizFinishedGetAnswers(answers: boolean[]) {
        this.answers = answers;
        this.quizFinished = true;
    }
    get percentageAmount() {
        let numbersOfRight = 0;
        this.answers.forEach(i => (i === true ? numbersOfRight++ : 0));
        return (numbersOfRight / this.answers.length) * 100;
    }

    endLesson() {
        finishLesson(this.$route.params.id);
        this.$router.push("/module/" + this.lesson.moduleId);
    }

    finishTheLesson() {
        if (this.lesson.quiz) {
            if (this.percentageAmount >= 50) {
                finishLesson(this.$route.params.id);
            }
        } else {
            finishLesson(this.$route.params.id);
        }
        this.lessonFinished = true;
    }

    getIcon(lessonType: LessonType) {
        switch (lessonType) {
            case LessonType.THEORY:
                return "book";
            case LessonType.PRACTICAL:
                return "build";
            case LessonType.QUIZ:
                return "question_answer";
        }
    }
}
</script>

<style lang="scss" scoped>
.content-d {
    min-height: 400px;
}
</style>
