<template>
    <div>
        <v-container>
            <v-row>
                <v-col>
                    <h1 class="primary--text headline-d">
                        {{ module.name }}
                        <div style="float: right;">
                            <v-icon
                                color="primary"
                                style="padding-right: 15px;"
                                v-for="(item, index) in moduleIncludes"
                                :key="'IncludesModule-' + index"
                                >{{ getIcon(item) }}</v-icon
                            >
                        </div>
                    </h1>

                    <v-divider />
                    <br />
                    <p>
                        {{ module.description }}
                    </p>
                </v-col>
            </v-row>
            <v-row justify-lg="center">
                <v-col cols="12" lg="8">
                    <ul class="lesson-list">
                        <li
                            v-for="(item, index) in module.lessons"
                            :key="'Lesson-' + index"
                        >
                            <v-avatar
                                v-if="item.progress !== 2"
                                color="primary"
                                size="56"
                            >
                                <span class="white--text headline">{{
                                    index + 1
                                }}</span>
                            </v-avatar>
                            <v-avatar v-else color="success" size="56">
                                <v-icon class="white--text">check</v-icon>
                            </v-avatar>
                            &nbsp;{{ item.name }}
                            <v-container>
                                <v-row>
                                    <v-col offset="1" cols="11">
                                        <div class="lesson-box">
                                            <v-container fluid>
                                                <p class="description">
                                                    {{ item.description }}
                                                </p>
                                                <v-row>
                                                    <v-col sm="12" md="7">
                                                        <v-icon color="primary"
                                                            >access_time</v-icon
                                                        >
                                                        <span
                                                            class="primary--text"
                                                            >{{
                                                                item.estToComplete
                                                            }}</span
                                                        >
                                                        <br />
                                                        <span
                                                            v-if="
                                                                item.progress ===
                                                                    0
                                                            "
                                                        >
                                                            <v-icon
                                                                color="error"
                                                                >close</v-icon
                                                            >
                                                            <span
                                                                class="error--text"
                                                                >Not
                                                                Started</span
                                                            >
                                                        </span>
                                                        <span
                                                            v-else-if="
                                                                item.progress ===
                                                                    1
                                                            "
                                                        >
                                                            <span
                                                                class="warning--text"
                                                                >&nbsp;<span
                                                                    style="font-size: 18px; font-weight: bold;"
                                                                    >...</span
                                                                >
                                                                &nbsp;Started</span
                                                            >
                                                        </span>
                                                        <span v-else>
                                                            <v-icon
                                                                color="success"
                                                                >check</v-icon
                                                            >
                                                            <span
                                                                class="success--text"
                                                                >Completed</span
                                                            >
                                                        </span>
                                                    </v-col>
                                                    <v-col
                                                        cols="12"
                                                        sm="12"
                                                        md="5"
                                                    >
                                                        <v-row
                                                            justify-sm="center"
                                                            justify-md="end"
                                                        >
                                                            <div
                                                                style="margin-right: 15px;"
                                                            >
                                                                <v-icon
                                                                    color="primary"
                                                                    style="padding-right: 15px;"
                                                                    v-for="(litem,
                                                                    lindex) in item.includes"
                                                                    :key="
                                                                        'IncludesLesson-' +
                                                                            index +
                                                                            '-' +
                                                                            lindex
                                                                    "
                                                                    >{{
                                                                        getIcon(
                                                                            litem
                                                                        )
                                                                    }}</v-icon
                                                                >
                                                                <v-btn
                                                                    v-if="
                                                                        item.progress ===
                                                                            0
                                                                    "
                                                                    elevation="0"
                                                                    color="primary"
                                                                    @click="
                                                                        $router.push(
                                                                            '/lesson/' +
                                                                                item.id
                                                                        )
                                                                    "
                                                                    >START
                                                                    NOW</v-btn
                                                                >
                                                                <v-btn
                                                                    v-else-if="
                                                                        item.progress ===
                                                                            1
                                                                    "
                                                                    elevation="0"
                                                                    @click="
                                                                        $router.push(
                                                                            '/lesson/' +
                                                                                item.id
                                                                        )
                                                                    "
                                                                    color="primary"
                                                                    >CONTINUE</v-btn
                                                                >
                                                                <v-btn
                                                                    v-else
                                                                    elevation="0"
                                                                    @click="
                                                                        $router.push(
                                                                            '/lesson/' +
                                                                                item.id
                                                                        )
                                                                    "
                                                                    color="primary"
                                                                    >START
                                                                    AGAIN</v-btn
                                                                >
                                                            </div>
                                                        </v-row>
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </li>
                    </ul>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { IModule, getModule } from "../api/Module";
import { LessonType } from "../api/Lesson";

@Component
export default class Module extends Vue {
    private module: IModule = {
        id: 1,
        name: "",
        description: "",
        includes: [],
        lessons: []
    };
    private stepperIndex: number = 1;
    private moduleIncludes: LessonType[] = [];

    async created() {
        this.module = await getModule(this.$route.params.id);
        this.module.lessons.forEach(l => {
            if (!this.moduleIncludes.includes(LessonType.THEORY)) {
                if (l.includes.includes(LessonType.THEORY)) {
                    this.moduleIncludes.push(LessonType.THEORY);
                }
            }

            if (!this.moduleIncludes.includes(LessonType.PRACTICAL)) {
                if (l.includes.includes(LessonType.PRACTICAL)) {
                    this.moduleIncludes.push(LessonType.PRACTICAL);
                }
            }

            if (!this.moduleIncludes.includes(LessonType.QUIZ)) {
                if (l.includes.includes(LessonType.QUIZ)) {
                    this.moduleIncludes.push(LessonType.QUIZ);
                }
            }
        });
    }

    getIcon(lessonType: LessonType) {
        switch (lessonType) {
            case LessonType.THEORY:
                return "book";
            case LessonType.PRACTICAL:
                return "build";
            case LessonType.QUIZ:
                return "question_answer";
        }
    }
}
</script>

<style lang="scss" scoped>
.headline-d {
    font-weight: 500;
}

.lesson-list {
    margin: 0;
    list-style: none;
    width: 100%;
    li {
        display: block;
        width: 100%;
    }
}

.lesson-box {
    width: 100%;
    height: auto;
    border: 2px solid #07748c;
    padding: 15px;
}
</style>
