<template>
    <div>
        <h1 class="primary--text">Privacy Policy</h1>
        <v-divider />
        <br />
        <v-row justify="center">
            <v-col lg="8" cols="12">
                <p>
                    At ALPS, accessible from alps.bj-davies.co.uk, one of our
                    main priorities is the privacy of our visitors. This Privacy
                    Policy document contains types of information that is
                    collected and recorded by ALPS and how we use it.
                </p>

                <p>
                    If you have additional questions or require more information
                    about our Privacy Policy, do not hesitate to contact us.
                </p>

                <h2>General Data Protection Regulation (GDPR)</h2>
                <p>We are a Data Controller of your information.</p>

                <p>
                    ALPS legal basis for collecting and using the personal
                    information described in this Privacy Policy depends on the
                    Personal Information we collect and the specific context in
                    which we collect the information:
                </p>
                <ul>
                    <li>ALPS needs to perform a contract with you</li>
                    <li>You have given ALPS permission to do so</li>
                    <li>
                        Processing your personal information is in ALPS
                        legitimate interests
                    </li>
                    <li>ALPS needs to comply with the law</li>
                </ul>

                <p>
                    ALPS will retain your personal information only for as long
                    as is necessary for the purposes set out in this Privacy
                    Policy. We will retain and use your information to the
                    extent necessary to comply with our legal obligations,
                    resolve disputes, and enforce our policies. Our Privacy
                    Policy was generated with the help of
                    <a href="https://www.gdprprivacynotice.com/"
                        >GDPR Privacy Policy Generator</a
                    >
                    and the
                    <a href="https://www.privacypolicygenerator.org"
                        >Privacy Policy Generator</a
                    >.
                </p>

                <p>
                    If you are a resident of the European Economic Area (EEA),
                    you have certain data protection rights. If you wish to be
                    informed what Personal Information we hold about you and if
                    you want it to be removed from our systems, please contact
                    us.
                </p>
                <p>
                    In certain circumstances, you have the following data
                    protection rights:
                </p>
                <ul>
                    <li>
                        The right to access, update or to delete the information
                        we have on you.
                    </li>
                    <li>The right of rectification.</li>
                    <li>The right to object.</li>
                    <li>The right of restriction.</li>
                    <li>The right to data portability</li>
                    <li>The right to withdraw consent</li>
                </ul>
                <br />

                <h2>Your Right To Be Forgotten</h2>
                <p>
                    Please use the user settings page to delete your account
                    this will delete your information from the database
                    including your lesson data and board data.
                </p>

                <h2>Download Your Data</h2>
                <p>
                    Please use the download your data button on the user
                    settings page.
                </p>

                <h2>Cookies</h2>

                <p>
                    Like any other website, ALPS uses 'cookies'. These cookies
                    are used to store information including your user session
                    and without this you would not be able to log into our
                    website.
                </p>

                <h2>Data We Collect</h2>

                <p>Template: What We Collect: Why We Collect it</p>
                <ul>
                    <li>
                        <strong>Your Name:</strong> This is required to sign up
                        to our site, if you don't want to use your name please
                        feel free to treat it as a username. Create your own
                        name.
                    </li>
                    <li>
                        <strong>Your Email:</strong> This is required so we can
                        contact you if you lose your password and we can confirm
                        it is you who wants to delete their information.
                    </li>
                    <li>
                        <strong>A Password:</strong> This is required so you
                        authenticate on our site. Without this anyone can access
                        your account. We don't have access to your raw password,
                        we use secure one-way hashing algorithms to store this.
                    </li>
                    <li>
                        <strong>Site Data:</strong> This includes the boards and
                        your progress in the lessons, this is required because
                        it allows you to leave the site and come back again some
                        other time and the progress is still there.
                    </li>
                </ul>

                <br />
                <h2>Privacy Policies</h2>

                <P
                    >You may consult this list to find the Privacy Policy for
                    each of the advertising partners of ALPS.</P
                >

                <p>
                    Third-party ad servers or ad networks uses technologies like
                    cookies, JavaScript, or Web Beacons that are used in their
                    respective advertisements and links that appear on ALPS,
                    which are sent directly to users' browser. They
                    automatically receive your IP address when this occurs.
                    These technologies are used to measure the effectiveness of
                    their advertising campaigns and/or to personalize the
                    advertising content that you see on websites that you visit.
                </p>

                <p>
                    Note that ALPS has no access to or control over these
                    cookies that are used by third-party advertisers.
                </p>

                <h2>Third Party Privacy Policies</h2>

                <p>
                    ALPS's Privacy Policy does not apply to other advertisers or
                    websites. Thus, we are advising you to consult the
                    respective Privacy Policies of these third-party ad servers
                    for more detailed information. It may include their
                    practices and instructions about how to opt-out of certain
                    options. You may find a complete list of these Privacy
                    Policies and their links here: Privacy Policy Links.
                </p>

                <p>
                    You can choose to disable cookies through your individual
                    browser options. To know more detailed information about
                    cookie management with specific web browsers, it can be
                    found at the browsers' respective websites. What Are
                    Cookies?
                </p>

                <h2>Children's Information</h2>

                <p>
                    Another part of our priority is adding protection for
                    children while using the internet. We encourage parents and
                    guardians to observe, participate in, and/or monitor and
                    guide their online activity.
                </p>

                <p>
                    ALPS does not knowingly collect any Personal Identifiable
                    Information from children under the age of 13. If you think
                    that your child provided this kind of information on our
                    website, we strongly encourage you to contact us immediately
                    and we will do our best efforts to promptly remove such
                    information from our records.
                </p>

                <h2>Online Privacy Policy Only</h2>

                <p>
                    Our Privacy Policy applies only to our online activities and
                    is valid for visitors to our website with regards to the
                    information that they shared and/or collect in ALPS. This
                    policy is not applicable to any information collected
                    offline or via channels other than this website.
                </p>

                <h2>Consent</h2>

                <p>
                    By using our website, you hereby consent to our Privacy
                    Policy and agree to its terms.
                </p>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class Privacy extends Vue {}
</script>

<style lang="scss" scoped></style>
