<template>
    <div>
        <v-container>
            <v-row justify="center">
                <v-col cols="8">
                    <v-row justify="center">
                        <v-col cols="12">
                            <v-row>
                                <v-col cols="12">
                                    <information />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12">
                                    <password />
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="12">
                                    <v-card outlined>
                                        <v-card-title class="error--text"
                                            ><strong
                                                >Delete Your Account</strong
                                            ></v-card-title
                                        >
                                        <v-card-text
                                            >You are about to delete your
                                            account please note this cannot be
                                            undone and once you proceed all data
                                            from all your boards and will be
                                            lost press delete to delete<br /><br />
                                            <v-text-field
                                                v-model="pass"
                                                class="text-field"
                                                color="error"
                                                type="password"
                                                outlined
                                                required
                                                label="Password"
                                            />
                                            <v-btn
                                                block
                                                color="error"
                                                @click="deleteTheUser"
                                                >DELETE</v-btn
                                            >
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="12">
                                    <v-card outlined>
                                        <v-card-title class="primary--text"
                                            ><strong
                                                >Download Your Data</strong
                                            ></v-card-title
                                        >
                                        <v-card-text
                                            >You are about to download your
                                            data, this will include what the
                                            database holds about you and any
                                            other personal information described
                                            in the Privacy Policy<br /><br />
                                            <v-btn
                                                block
                                                color="primary"
                                                @click="downloadUser"
                                                >DOWNLOAD</v-btn
                                            >
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script lang="ts">
import Information from "../components/user/Information.vue";
import Password from "../components/user/Password.vue";
import Panel from "../components/app/Panel.vue";
import { Vue, Component } from "vue-property-decorator";
import { deleteUser, downloadData } from "../api/Auth";
import { user } from "../store/User";
import { snackbar } from "../store/Snackbar";
@Component({
    components: {
        Information,
        Password,
        Panel
    }
})
export default class UserSettings extends Vue {
    private pass: string = "";
    async deleteTheUser() {
        try {
            await deleteUser(this.pass);
            user.setUser({ id: -1, name: "", email: "" });
            this.$router.push("/");
        } catch {}
    }

    async downloadUser() {
        await downloadData();
        snackbar.showSuccessSnackbar(
            "Downloading data, please check your downloads..."
        );
    }
}
</script>
